.input-text {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: solid;
    border-bottom-width: 1px;
}

.blah {
    margin-left: 1em;
}

.radio-test {
    width: 800px;
    height: 800px;
    background-color: white;
}
