html, body {
    font-size: 16px;
    font-weight: 100;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

[plat-control="plat-routeport"],
[plat-control="test"] {
    position: relative;
    width: 100%;
    height: 100%;
}

[plat-control="viewcontrol"] {
    width: 100%;
    height: 100%;
}

.input-text {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: solid;
    border-bottom-width: 1px;
}

.blah {
    margin-left: 1em;
}

.radio-test {
    width: 800px;
    height: 800px;
    background-color: white;
}

.drawer-test {
    width: 2em;
    height: 2em;
    background-color: dodgerblue;
}
