@import (reference) '../global/variables.less';

#platui {
    #Toggle {
        #dependencies {
            #platui > #variables;
        
        /// =========== Toggle Colors =========== ///

            @color-off: @neutral-color-light;
            @color-on: @success-color;
            
        /// ============= Toggle Transition ============= ///
        
            @transition-time: 250ms;
        }
        
        #platui > #Toggle > #dependencies;
        
    /// =========== Toggle Colors =========== ///

        @background-color-off: @color-off;
        @border-color-off: darken(@color-off, 3%);
        @background-color-on: @color-on;
        @border-color-on: darken(@color-on, 5%);
        @toggle-thin-color-off: @neutral-color-dark;
    
    /// ============ Toggle Size ============ ///
    
        @width: 3.25em;
        @ratio: 1/2;
        @toggle-thin-ratio: 1/4;

    /// ========== Toggle Knob Properties ========== ///

        @knob-border-color: darken(@pale-grey, 5%);
        @knob-border-size: 1px;
        @toggle-thin-knob-color: lighten(@pale-grey, 10%);

    /// ============= Toggle Transition ============= ///

        @transition: ~'background-color @{transition-time}, border-color @{transition-time}';
        @knob-transition: left @transition-time;
    }
}
