@import (reference) '../global/variables.less';

#platui {
    #Toggle {
        #platui > #variables;
    /// =========== Toggle Colors =========== ///

        @border-color: darken(@neutral-color-light, 3%);
        @background-color-off: @neutral-color-light;
        @background-color-on: @success-color;
        @border-color-on: darken(@background-color-on, 5%);
        @toggle-thin-color: lighten(@pale-grey, 10%);

    /// ============ Toggle Size ============ ///
    
        @width: 3.25em;
        @ratio: 1/2;
        @toggle-thin-ratio: 1/4;

    /// ========== Toggle Knob Properties ========== ///

        @knob-diameter: @width * @ratio;
        @knob-border-color: darken(@pale-grey, 5%);
        @knob-border-size: 1px;

    /// ============= Toggle Transition ============= ///

        @transition-time: 250ms;
        @transition: all @transition-time;
        @knob-transition: left @transition-time;
    }
}
