@import (reference) '../mixins/helpers.less';
@import (reference) '../mixins/touch.less';
@import (reference) 'select.variables.less';

/// ============= Select Constants ============= ///

#platui {
    #__Select {
        #platui > #variables;
        @checked-option-hover-color: @white;
        @checked-option-hover-background-color: #1e90ff;
    }
}

/// =========== Select Declaration =========== ///

& {
    #platui > #mixins;
    #platui > #Select;
    #platui > #__Select;

    .plat-select {
        .box-sizing(border-box);
        .border-radius(@border-radius);
        .user-select(none);
        .appearance(none);
        display: inline-block;
        height: @height;
        color: @color;
        background-color: @background-color;
        outline: none;
        margin: 0;
        padding: 0 1.75em 0 0.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: @border-width solid @border-color;
        background-position: 95% 50%;
        background-position: -webkit-calc(~'100% - 0.5em') 50%;
        background-position: calc(~'100% - 0.5em') 50%;
        background-repeat: no-repeat;
        background-size: 0.7em;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAUCAYAAACeXl35AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAShJREFUeNq8lc0RgjAQhfOnXCkFbx61BDvQDvTo0QosQTvQDrQDPXrTDuSuEN9GcDIYQJH4ZnbYyUIe7AcLY38Wz46DP/nt82SJ0FwIL0F7I1b2E5IOQspIKNXqI6VJwtL7/Yh0iIiFVRuhGOs0bc2M9oJZjHRCZrRmG16okNxuOFO3Ymj2YmyGOOZrsnDOCRHizvpo7+9mWq+RLlxvaVE/8Sxys2ui5JrGPF3cPjFszNPFzVYVqCdPrT/mmd3gFum8btKUKUTswDKqM824UWd6rlbWtTSXYUFMqniiC2Rm2FeZfaMx7auCwBmccwI9bXvwrmguvpk9Z+XGx6QPzfep1MuMcqyds5oXRYir7HS07Hbzv0Dk+59mePriVqaNL25VPBtxewgwABxVrJXnt4pwAAAAAElFTkSuQmCC");

        &:focus {
            border-color: darken(@border-color, 25%);
        }

        &::-ms-expand {
            display: none;
        }

        &::-ms-value {
            color: @color;
            background-color: @background-color;
        }

        option:checked {
            color: lighten(@checked-option-hover-color, 15%);
            background-color: lighten(@checked-option-hover-background-color, 15%);
        }

        option:focus,
        option:active,
        option:hover {
            color: @checked-option-hover-color;
            background-color: @checked-option-hover-background-color;
        }
    }
}
