@import (reference) '../global/variables.less';

#platui {
    #Select {
        #dependencies {
            #platui > #variables;
            @border-color: @neutral-color;
        }

        #platui > #Select > #dependencies;

    /// =========== Select Colors =========== ///

        @background-color: @transparent;
        @color: @default-font-color;
        @border-color-focus: darken(@border-color, 25%);
        @border-color-light: @white;
        @border-color-light-focus: @white;

    /// =========== Select Sizes =========== ///

        @height: 2.5em;
        @border-radius: @global-border-radius;
        @border-width: 1px;

    /// =========== Properties =========== ///

        @caret: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAUCAYAAACeXl35AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAShJREFUeNq8lc0RgjAQhfOnXCkFbx61BDvQDvTo0QosQTvQDrQDPXrTDuSuEN9GcDIYQJH4ZnbYyUIe7AcLY38Wz46DP/nt82SJ0FwIL0F7I1b2E5IOQspIKNXqI6VJwtL7/Yh0iIiFVRuhGOs0bc2M9oJZjHRCZrRmG16okNxuOFO3Ymj2YmyGOOZrsnDOCRHizvpo7+9mWq+RLlxvaVE/8Sxys2ui5JrGPF3cPjFszNPFzVYVqCdPrT/mmd3gFum8btKUKUTswDKqM824UWd6rlbWtTSXYUFMqniiC2Rm2FeZfaMx7auCwBmccwI9bXvwrmguvpk9Z+XGx6QPzfep1MuMcqyds5oXRYir7HS07Hbzv0Dk+59mePriVqaNL25VPBtxewgwABxVrJXnt4pwAAAAAElFTkSuQmCC";
        @caret-light: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAUCAYAAACeXl35AAAA80lEQVRIS73UYRWCMBiF4XsbGMEI2kAbaANpoEm0gTTQBtpAIxiBBp/n2xkcQNjmNuA/Pme+uxAzP1RPRDZzuCSfNXgGcJwYLUkWBrSnfAFYTYS+AWxJVm1wCUDRRWa0spiiaEB7yh2AW2awIFnWv9kBLZqzp+nWPsAPmLFn0y0ETO3Z6eYFM/TsdAsCE3reSe7HLt5gw9Y2dSKPP/b5AbDWvUWB9pT6MVA0ZJ+Kmb1FgxY9ALh69nkiefFt2PmXtl8WEQUVHnqc3YIvTQ8c6+ntFgU6enq7RYMDPYO6JYEWNR94196Sbmn/ZRExE3HtbQz8AtOmYhUhBb2SAAAAAElFTkSuQmCC";

    /// =========== Variable Select Styles =========== ///

        .plat-select(@prop; @value) {
            #platui > #mixins;

            & when (@prop = border-color) {
                border-color: @value;

                &:focus {
                    border-color: @value;
                }
            }
            & when (@prop = background-color) {
                background-color: @value;

                &::-ms-value {
                    background-color: @value;
                }
            }
            & when (@prop = color) {
                color: @value;

                &::-ms-value {
                    color: @value;
                }
            }
            & when (@prop = height) {
                height: @value;
            }
            & when (@prop = border-color-focus) {
                &:focus {
                    border-color: @value;
                }
            }
            & when (@prop = border-color-light) {
                &.select-light {
                    border-color: @value;
                }
            }
            & when (@prop = border-color-light-focus) {
                &.select-light {
                    &:focus {
                        border-color: @value;
                    }
                }
            }
            & when (@prop = border-radius) {
                .border-radius(@value);
            }
            & when (@prop = border-width) {
                border-width: @value;
            }
            & when (@prop = caret) {
                background-image: url(@value);
            }
            & when (@prop = caret-light) {
                &.select-light {
                    background-image: url(@value);
                }
            }
        }
    }

    #controls {
        /// =========== Variable Select Styles =========== ///

        .plat-select(@prop: undefined; @value: undefined) {
            #platui > #mixins;

            & when (@prop = undefined), (@value = undefined) {
                .border-radius(@border-radius);
                height: @height;
                color: @color;
                background-color: @background-color;
                border: @border-width solid @border-color;
                background-image: url(@caret);

                &:focus {
                    border-color: @border-color-focus;
                }

                &::-ms-value {
                    color: @color;
                    background-color: @background-color;
                }

                &.select-light {
                    background-image: url(@caret-light);
                    border-color: @border-color-light;

                    &:focus {
                        border-color: @border-color-light-focus;
                    }
                }
            }
            & when (@prop = border-color) {
                border-color: @value;

                &:focus {
                    border-color: @value;
                }
            }
            & when (@prop = background-color) {
                background-color: @value;

                &::-ms-value {
                    background-color: @value;
                }
            }
            & when (@prop = color) {
                color: @value;

                &::-ms-value {
                    color: @value;
                }
            }
            & when (@prop = height) {
                height: @value;
            }
            & when (@prop = border-color-focus) {
                &:focus {
                    border-color: @value;
                }
            }
            & when (@prop = border-color-light) {
                &.select-light {
                    border-color: @value;
                }
            }
            & when (@prop = border-color-light-focus) {
                &.select-light {
                    &:focus {
                        border-color: @value;
                    }
                }
            }
            & when (@prop = border-radius) {
                .border-radius(@value);
            }
            & when (@prop = border-width) {
                border-width: @value;
            }
            & when (@prop = caret) {
                background-image: url(@value);
            }
            & when (@prop = caret-light) {
                &.select-light {
                    background-image: url(@value);
                }
            }
        }
    }
}
