@import (reference) '../global/variables.less';

#platui {
    #Select {
        #platui > #variables;

    /// =========== Select Colors =========== ///

        @background-color: @transparent;
        @color: @default-font-color;
        @border-color: @neutral-color-light;

    /// =========== Select Sizes =========== ///

        @border-radius: 2px;
        @border-width: 1px;
    }
}
