@import '../global/variables.less';
@import '../global/mixins.less';
@import 'button.variables.less';
@import 'button.mixins.less';

/// ====== Button Default and Outline Style ====== ///

.plat-button, 
.button {
    #Button;
    position: relative;
    display: inline-block;
    padding: @padding-vertical @padding-horizontal;
    background-color: @neutralColor;
    color: @white;
    outline: none;
    border: @border-size solid @neutralColorDark;
    cursor: pointer;
    font-size: @button-font-size;
    .border-radius(@border-radius);
    .webkit-touch-additions();
    .box-sizing(border-box);
    
    &.button-outline {
        color: @neutralColor;
    }

/// ============== Button Colors  =============== ///    

    &.button-primary {
        background-color: @primaryColor;
        border-color: @primaryColorDark;
        
        &:active,
        &.plat-selected {
            color: @white;
            background-color: darken(@primaryColor, 10%);
        }

        &.button-outline {
            border-color: @primaryColor;
            color: @primaryColor;

            &:active,
            &.plat-selected {
                color: @white;
                background-color: @primaryColor;
            }
        }
    }

    &.button-secondary {
        background-color: @secondaryColor;
        border-color: @secondaryColorDark;

        &:active,
        &.plat-selected {
            color: @white;
            background-color: darken(@secondaryColor, 10%);
        }

        &.button-outline {
            border-color: @secondaryColor;
            color: @secondaryColor;

            &:active,
            &.plat-selected {
                color: @white;
                background-color: @secondaryColor;
            }
        }
    }

    &.button-neutral {
        background-color: @neutralColor;
        border-color: @neutralColorDark;

        &:active,
        &.plat-selected {
            color: @white;
            background-color: darken(@neutralColor, 10%);
        }

        &.button-outline {
            border-color: @neutralColor;
            color: @neutralColor;

            &:active,
            &.plat-selected {
                color: @white;
                background-color: @neutralColor;
            }
        }
    }

    &.button-success {
        background-color: @successColor;
        border-color: @successColorDark;

        &:active,
        &.plat-selected {
            color: @white;
            background-color: darken(@successColor, 10%);
        }

        &.button-outline {
            border-color: @successColor;
            color: @successColor;

            &:active,
            &.plat-selected {
                color: @white;
                background-color: @successColor;
            }
        }
    }

    &.button-danger {
        background-color: @dangerColor;
        border-color: @dangerColorDark;

        &:active,
        &.plat-selected {
            color: @white;
            background-color: darken(@dangerColor, 10%);
        }

        &.button-outline {
            border-color: @dangerColor;
            color: @dangerColor;

            &:active,
            &.plat-selected {
                color: @white;
                background-color: @dangerColor;
            }
        }
    }

    &.button-caution {
        background-color: @cautionColor;
        border-color: @cautionColorDark;

        &:active,
        &.plat-selected {
            color: @white;
            background-color: darken(@cautionColor, 10%);
        }

        &.button-outline {
            border-color: @cautionColor;
            color: @cautionColor;

            &:active {
                color: @white;
                background-color: @cautionColor;
            }
        }
    }

    &.button-outline {
        background-color: transparent;
        border-width: 2px;
    }
    
/// ============== Button Sizes ================ ///

    &.button-small {
        font-size: 80%;
    }

    &.button-large {
        font-size: 115%;
    }

    &.button-jumbo {
        font-size: 130%;
    }

/// ============== Button States =============== ///

    &.button-disabled,
    &[disabled="disabled"],
    &:disabled {
        opacity: 0.5;
        cursor: default;
    }

}

/// ============== Button Groups =============== /// 

.button-group {
    overflow: auto;
    width: 100%;
}

.button-group > .plat-button,
.button-group > .button {
    margin: 0;
    border-right-width: 0;
    border-radius: 0;
    float: left;
    border-radius: none;
}

.button-group > .plat-button:nth-of-type(1),
.button-group > .button:nth-of-type(1) {
    #Button;
    border-top-left-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
}

.button-group > .plat-button:nth-last-of-type(1),
.button-group > .button:nth-last-of-type(1) {
    #Button;
    border-right-width: 1px;
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: @border-radius;

    &.button-outline {
        border-right-width: 2px;
    }
}
