/**/
@import (reference) '../global/variables.less';

#platui {
    #Button {
        #platui > #variables;
    /// ============= Button Sizes ============== ///
        @border-size: 1px;
        @button-font-size: 0.9em;
        @border-radius: @global-border-radius;
        @padding-vertical: 0.8em;
        @padding-horizontal: 1.2em;
    }
}
