/// ============= Button Constants ============== ///

#Button {
    // set this var to for a custom button text color when active or selected.
    @border-size: 1px;
    @border-radius: 2px;
    @padding-vertical: 0.6em;
    @padding-horizontal: 1.2em;
}