#Grid {
    /// Phone Breakpoint
    @phone-alias: phn;
    @phone-start: 320px;
    @phone-end: 499px;

    /// Phablet Breakpoint
    @phablet-alias: phb;
    @phablet-start: 500px;
    @phablet-end: 699px;

    /// Tablet Breakpoint
    @tablet-alias: tab;
    @tablet-start: 700px;
    @tablet-end: 899px;

    /// Desktop Breakpoint
    @desktop-alias: dsk;
    @desktop-start: 900px;
}