@import '../../../less/variables';

[plat-control="plat-ring"] {
    #ProgressRingVars;
    display: inline-block;
    width: @ringDiameter;
    height: @ringDiameter;
    .box-sizing(border-box);

    .plat-progress-container {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .box-sizing(border-box);

        .ring {
            width: 100%;
            height: 100%;
            border-left: @ringThickness solid @ringSpinnerColor;
            border-bottom: @ringThickness solid @ringBackground;
            border-right: @ringThickness solid @ringBackground;
            border-top: @ringThickness solid @ringBackground;
            .border-radius(@ringDiameter);
            .animation(@ringAnimation, @ringSpinFrequency, linear, 0s, infinite);
            .box-sizing(border-box);
        }
    }
}

.spin();
.spin() {
    #ProgressRingVars;
    #KeyFrames > .keyFrames(@ringAnimation);
    .frames(@prefix) {
        from {
            .transform(rotate(0deg), @prefix);
        }
        to {
            .transform(rotate(359deg), @prefix);
        }
    }
}

@import '../../../less/platypus';
