@import (reference) '../../progress.variables.less';

/// =========== Progress Ring Default Styles =========== ///

.plat-ring {
    #platui > #mixins;
    #platui > #ProgressRing;
    display: inline-block;
    width: @diameter;
    height: @diameter;
    .box-sizing(border-box);

    .plat-progress-container {
        display: inline-block;
        position: relative;
        overflow: hidden;
        .fill();
        .box-sizing(border-box);

        .plat-animated-ring {
            width: 100%;
            height: 100%;
            border-left: @thickness solid @fill-color;
            border-bottom: @thickness solid @unfilled-color;
            border-right: @thickness solid @unfilled-color;
            border-top: @thickness solid @unfilled-color;
            .border-radius(@diameter);
            .animate(@animation-name; @spin-frequency; linear; 0s; infinite);
            .box-sizing(border-box);
        }
    }
}

/// =========== Progress Ring Animation =========== ///

& {
    #platui > #ProgressRing;
    .spin();
}

