/**/
@import (reference) '../global/variables.less';

#platui {
    #Input {
        #platui > #variables;
    /// ============== Input Colors =============== ///

        @text-color: @black;
        @border-color: @neutral-color-light;
        @action-color: @border-color;

    /// =============== Input Sizes =============== ///
    
        @default-height: 2.5em;
        @default-width: 18em;
        @primary-border-bottom-width: 2px;
        @primary-border-bottom: @primary-border-bottom-width solid @border-color;
        @secondary-border-width: 2px;
        @secondary-border: @secondary-border-width solid @border-color;
        @secondary-border-radius: 4px;
    }
}
