@import '../global/variables.less';

#InputVars {
    @inputBorderColor: @primaryColor;
    @inputTextColor: @black;
    @inputActionColor: @inputBorderColor;
    @inputBorderWidth: 1px;
    @inputDefaultWidth: 18em;
}