@import (reference) '../mixins/helpers.less';
@import (reference) 'input.variables.less';

/// ============= Input Constants ============= ///

#platui {
    #__Input {
        #platui > #variables;
        #platui > #Input;
        @border-color-accent: darken(@border-color, 25%);
        @action-padding: 2.5em;
    }
}

/// =========== Input Default Styles =========== ///

.plat-input {
    #platui > #variables;
    #platui > #mixins;
    #platui > #Input;
    #platui > #__Input;
    .box-sizing(border-box);
    display: inline-block;
    width: @default-width;
    height: @default-height;

    .plat-input-container {
        .fill();
        .box-sizing(border-box);
        position: relative;

        input {
            .box-sizing(border-box);
            .border-radius(0px);
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            bottom: 0;
            padding: 0 @action-padding 0 0;
            background-color: @transparent;
            color: @text-color;
            outline: none;
            border: none;
            font: inherit;
            -webkit-appearance: none;

            &::-ms-clear,
            &::-ms-reveal {
                display: none;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

/// ============== Input States =============== ///

            &:focus {
                border-color: @border-color-accent;
            }

/// =========== Placeholder Styling =========== ///

            &::-webkit-input-placeholder {
                color: @neutral-color-light;
            }

            &::-moz-input-placeholder {
                color: @neutral-color-light;   
            }

            &:-moz-input-placeholder {
                color: @neutral-color-light;
            }

            &:-ms-input-placeholder {
                color: @neutral-color-light;
            }
        }

/// =============== Input Icon =============== ///

        .plat-input-action {
            .box-sizing(content-box);
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: 0;
            width: @action-padding;
            height: @default-height;
            line-height: @default-height;
            text-align: center;
            text-align: right;
            color: @border-color-accent;
            cursor: pointer;
        }
    }

    &:not(.input-outline) {
        .plat-input-container {
            input {
                border-bottom: @primary-border-bottom;
            }
        }
    }

/// ============== Secondary Input =============== ///
    &.input-outline {
        .border-radius(@secondary-border-radius);
        border: @secondary-border;
        padding: 0 1em;

        .plat-input-action {
            .calc(line-height; '@{default-height} + 3px');
        }
    }

/// ============== Input Types =============== ///
}

.input-group {
    #platui > #mixins;
    #platui > #Input;

    [class*="col-"] {
        padding: 0;
    }

    .plat-input {
        width: 100%;
        position: relative;
        margin-top: -3px;
        
        input {
            padding-left: 8px;
            .calc(padding-right; '@{default-height} + 8px');
        }

        .plat-input-action {
            right: 8px;
        }
    }
}
