@import '../less/variables';

.plat-input {
    #InputVars;
    display: inline-block;
    width: @inputDefaultWidth;
    height: 1.75em;
    .box-sizing(border-box);

    .plat-input-container {
        position: relative;
        width: 100%;
        height: 100%;
        .box-sizing(border-box);

        input {
            position: relative;
            left: 1em;
            bottom: 0;
            padding: 0;
            height: 100%;
            vertical-align: bottom;
            background-color: @transparent;
            color: @inputTextColor;
            outline: none;
            border: none;
            font: inherit;
            .box-sizing(border-box);
            .calc(width; '100% - 3em');

            &::-ms-clear {
                display: none;
            }
        }

        .action {
            display: inline-block;
            position: relative;
            left: 1em;
            bottom: 0.1em;
            width: 1em;
            height: 80%;
            text-align: right;
            color: @inputActionColor;
            cursor: pointer;
        }
    }

    &.primary {
        .plat-input-container {
            border-bottom: @inputBorderWidth solid @inputBorderColor;
        }
    }

    &.secondary {
        .plat-input-container {
            border: @inputBorderWidth solid @inputBorderColor;
        }
    }

    &.email {
        .plat-input-container {
            input {
                .calc(width; '100% - 4em');
            }
            .action {
                width: 2em;
            }
        }
    }
}

@import '../less/platypus';
