@import (reference) '../global/variables.less';

#platui {
    #Checkbox {
        #platui > #variables;

    /// =========== Checkbox Colors =========== ///

        @background-color: @transparent;
        @border-color: @grey;

    /// =========== Checkbox Sizes ============ ///

        @diameter: 1.3em;

    /// =========== Variable Checkbox Styles =========== ///

        .plat-checkbox(@prop: undefined; @value: undefined) {
            #platui > #mixins;

            & when (@prop = undefined), (@value = undefined) {
                &.plat-checkbox {
                    & > span {
                        line-height: @diameter;
                    }

                    .plat-checkbox-container {
                        .flex(0 0 @diameter);
                        width: @diameter;
                        height: @diameter;
                        background-color: @background-color;
                        border-color: @border-color;

                        &.plat-check,
                        &.plat-x {
                            background-color: @border-color;
                        }

                        &.plat-check {
                            .plat-mark::before {
                                width: @diameter / 2.6;
                            }

                            .plat-mark::after {
                                width: @diameter / 1.7;
                            }
                        }

                        &.plat-x {
                            .plat-mark::before,
                            .plat-mark::after {
                                width: @diameter / 1.5;
                            }
                        }
                    }
                }
            }
            & when (@prop = background-color) {
                &.plat-checkbox {
                    .plat-checkbox-container {
                        background-color: @value;
                    }
                }
            }
            & when (@prop = border-color) {
                &.plat-checkbox {
                    .plat-checkbox-container {
                        border-color: @value;

                        &.plat-check,
                        &.plat-x {
                            background-color: @value;
                        }
                    }
                }
            }
            & when (@prop = diameter) {
                &.plat-checkbox {
                    & > span {
                        line-height: @value;
                    }

                    .plat-checkbox-container {
                        .flex(0 0 @value);
                        width: @value;
                        height: @value;

                        &.plat-check {
                            .plat-mark::before {
                                width: @value / 2.6;
                            }

                            .plat-mark::after {
                                width: @value / 1.7;
                            }
                        }

                        &.plat-x {
                            .plat-mark::before,
                            .plat-mark::after {
                                width: @value / 1.5;
                            }
                        }
                    }
                }
            }
        }
    }
}
