@import (reference) '../mixins/helpers.less';
@import (reference) '../mixins/transforms.less';
@import (reference) '../mixins/flexbox.less';
@import (reference) 'checkbox.variables.less';

/// =========== Checkbox Declaration =========== ///

& {
    #platui > #mixins;
    #platui > #Checkbox;

    .plat-checkbox {
        .flex-vertical-center(true);
        .box-sizing(border-box);
        cursor: pointer;

        & > span {
            line-height: @diameter;

            &:first-of-type {
                padding-left: 0.4em;
            }
        }

        .plat-checkbox-container {
            .flex(0 0 @diameter);
            .border-radius(50%);
            .box-sizing(content-box);
            position: relative;
            display: inline-block;
            width: @diameter;
            max-width: @diameter;
            height: @diameter;
            max-height: @diameter;
            background-color: @background-color;
            overflow: hidden;
            border: @border-width solid @border-color;

    /// ============ Checkmark Symbol ============ ///

            &.plat-check,
            &.plat-x {
                background-color: @active-background-color;
                border-color: @active-border-color;

                .plat-mark::before,
                .plat-mark::after {
                    .border-radius(2px);
                    content: "";
                    position: absolute;
                    height: 2px;
                    background-color: @mark-color;
                }
            }

            &.plat-check {
                .plat-mark::before {
                    .rotate(45deg);
                    left: 13%;
                    top: 55%;
                    width: @diameter / 2.6;
                }

                .plat-mark::after {
                    .rotate(-45deg);
                    left: 34%;
                    top: 47%;
                    width: @diameter / 1.7;
                }
            }

            &.plat-x {
                .plat-mark::before,
                .plat-mark::after {
                    left: 18%;
                    top: 48%;
                    width: @diameter / 1.5;
                }

                .plat-mark::before {
                    .rotate(45deg);
                }

                .plat-mark::after {
                    .rotate(-45deg);
                }
            }
        }

    /// ============ Checkmark Square ============ ///

        &.checkbox-square {
            .plat-checkbox-container {
                .border-radius(@global-border-radius);
            }
        }

    /// ============ Checkmark Colors ============ ///

        &.checkbox-primary {
            .plat-checkbox-container {
                &.plat-check,
                &.plat-x {
                    border-color: @primary-color;
                    background-color: @primary-color;
                }
            }
        }

        &.checkbox-secondary {
            .plat-checkbox-container {
                &.plat-check,
                &.plat-x {
                    border-color: @secondary-color;
                    background-color: @secondary-color;
                }
            }
        }

        &.checkbox-success {
            .plat-checkbox-container {
                &.plat-check,
                &.plat-x {
                    border-color: @success-color;
                    background-color: @success-color;
                }
            }
        }

        &.checkbox-caution {
            .plat-checkbox-container {
                &.plat-check,
                &.plat-x {
                    border-color: @caution-color;
                    background-color: @caution-color;
                }
            }
        }

        &.checkbox-danger {
            .plat-checkbox-container {
                &.plat-check,
                &.plat-x {
                    border-color: @danger-color;
                    background-color: @danger-color;
                }
            }
        }
    }
}
