/**/
@import (reference) '../global/variables.less';

#platui {
    #Checkbox {
        #platui > #variables;
    /// =========== Checkbox Colors =========== ///

        @secondary-mark-color: undefined;
        @background-color: @transparent;
        @border-color: @grey;

    /// =========== Checkbox Sizes ============ ///

        @diameter: 1.3em;
        @border-size: 1px;
    }
}