@import (reference) '../global/variables.less';

#platui {
    #Modal {
        #dependencies {
           #platui > #variables;
	       @prompt-body-color: @pale-grey;
           @transition-time: 500ms;
        }

        #platui > #Modal > #dependencies;

    /// =========== Modal Colors =========== ///

        @color: @default-font-color;
        @background-color: @white;

    /// =========== Modal Sizes =========== ///

        #custom-height {
            @height: 50%;
            @y-offset: 0%;
        }

        #custom-width {
            @width: 50%;
            @x-offset: 0%;
        }

        #custom {
            @width: 50%;
            @height: 50%;
            @x-offset: 0%;
            @y-offset: 0%;
        }

    /// =========== Modal Transitions =========== ///

        @left-transition: right @transition-time;
        @right-transition: left @transition-time;
        @up-transition: bottom @transition-time;
        @down-transition: top @transition-time;
        @fade-transition: opacity (@transition-time - 200ms);

    /// =========== Modal Prompt =========== ///

	    @prompt-top: 20%;
	    @prompt-accent-color: darken(@prompt-body-color, 4%);
	    @prompt-border-radius: 8px;

    /// =========== Variable Modal Styles =========== ///

        .plat-modal(@prop: undefined; @value: undefined) {
            #platui > #mixins;

            & when (@prop = undefined), (@value = undefined) {
                &.plat-modal {
                    .plat-modal-container {
                        background-color: @background-color;
                        color: @color;

                        &.plat-modal-transition {
                            &.plat-right {
                                .transition(@right-transition);
                            }

                            &.plat-left {
                                .transition(@left-transition);
                            }

                            &.plat-down {
                                .transition(@down-transition);
                            }

                            &.plat-up {
                                .transition(@up-transition);
                            }

                            &.plat-fade {
                                .transition(@fade-transition);
                            }
                        }
                    }

                    &.modal-custom-width {
                        #platui > #Modal > #custom-width;

                        .plat-modal-container {
                            width: @width;

                            &.plat-no-transition,
                            &.plat-modal-transition.plat-fade {
                                left: @x-offset;
                            }

                            &.plat-modal-transition {
                                &.plat-right {
                                    &.plat-activate {
                                        left: @x-offset;
                                    }
                                }

                                &.plat-left {
                                    &.plat-activate {
                                        right: @x-offset;
                                    }
                                }

                                &.plat-down {
                                    left: @x-offset;
                                }

                                &.plat-up {
                                    left: @x-offset;
                                }
                            }
                        }
                    }

                    &.modal-custom-height {
                        #platui > #Modal > #custom-height;

                        .plat-modal-container {
                            height: @height;

                            &.plat-no-transition,
                            &.plat-modal-transition.plat-fade {
                                top: @y-offset;
                            }

                            &.plat-modal-transition {
                                &.plat-right {
                                    top: @y-offset;
                                }

                                &.plat-left {
                                    top: @y-offset;
                                }

                                &.plat-down {
                                    &.plat-activate {
                                        top: @y-offset;
                                    }
                                }

                                &.plat-up {
                                    &.plat-activate {
                                        bottom: @y-offset;
                                    }
                                }
                            }
                        }
                    }

                    &.modal-custom {
                        #platui > #Modal > #custom;

                        .plat-modal-container {
                            width: @width;
                            height: @height;

                            &.plat-no-transition,
                            &.plat-modal-transition.plat-fade {
                                top: @y-offset;
                                left: @x-offset;
                            }

                            &.plat-modal-transition {
                                .plat-right {
                                    top: @y-offset;
                                    left: -@x-offset;

                                    &.plat-activate {
                                        left: @x-offset;
                                    }
                                }

                                &.plat-left {
                                    top: @y-offset;
                                    right: -@width;

                                    &.plat-activate {
                                        right: @x-offset;
                                    }
                                }

                                &.plat-down {
                                    top: -@height;
                                    left: @x-offset;

                                    &.plat-activate {
                                        top: @y-offset;
                                    }
                                }

                                &.plat-up {
                                    bottom: -@height;
                                    left: @x-offset;

                                    &.plat-activate {
                                        bottom: @y-offset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = transition-time) {
                &.plat-modal {
                    .plat-modal-container {
                        &.plat-modal-transition {
                            .transition-duration(@value);
                        }
                    }
                }
            }
            & when (@prop = left-transition) {
                &.plat-modal {
                    .plat-modal-container {
                        &.plat-modal-transition {
                            &.plat-left {
                                .transition(@value);
                            }
                        }
                    }
                }
            }
            & when (@prop = right-transition) {
                &.plat-modal {
                    .plat-modal-container {
                        &.plat-modal-transition {
                            &.plat-right {
                                .transition(@value);
                            }
                        }
                    }
                }
            }
            & when (@prop = up-transition) {
                &.plat-modal {
                    .plat-modal-container {
                        &.plat-modal-transition {
                            &.plat-up {
                                .transition(@value);
                            }
                        }
                    }
                }
            }
            & when (@prop = down-transition) {
                &.plat-modal {
                    .plat-modal-container {
                        &.plat-modal-transition {
                            &.plat-down {
                                .transition(@value);
                            }
                        }
                    }
                }
            }
            & when (@prop = fade-transition) {
                &.plat-modal {
                    .plat-modal-container {
                        &.plat-modal-transition {
                            &.plat-fade {
                                .transition(@value);
                            }
                        }
                    }
                }
            }
            & when (@prop = color) {
                &.plat-modal {
                    .plat-modal-container {
                        color: @value;
                    }
                }
            }
            & when (@prop = background-color) {
                &.plat-modal {
                    .plat-modal-container {
                        background-color: @value;
                    }
                }
            }
            & when (@prop = custom-height_height) {
                &.plat-modal {
                    &.modal-custom-height {
                        .plat-modal-container {
                            height: @value;
                        }
                    }
                }
            }
            & when (@prop = custom-height_y-offset) {
                &.plat-modal {
                    &.modal-custom-height {
                        .plat-modal-container {
                            &.plat-no-transition,
                            &.plat-modal-transition.plat-fade {
                                top: @value;
                            }

                            &.plat-modal-transition {
                                &.plat-right {
                                    top: @value;
                                }

                                &.plat-left {
                                    top: @value;
                                }

                                &.plat-down {
                                    &.plat-activate {
                                        top: @value;
                                    }
                                }

                                &.plat-up {
                                    &.plat-activate {
                                        bottom: @value;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = custom-width_width) {
                &.plat-modal {
                    &.modal-custom-width {
                        .plat-modal-container {
                            width: @value;
                        }
                    }
                }
            }
            & when (@prop = custom-width_x-offset) {
                &.plat-modal {
                    &.modal-custom-width {
                        .plat-modal-container {
                            &.plat-no-transition,
                            &.plat-modal-transition.plat-fade {
                                left: @value;
                            }

                            &.plat-modal-transition {
                                &.plat-right {
                                    &.plat-activate {
                                        left: @value;
                                    }
                                }

                                &.plat-left {
                                    &.plat-activate {
                                        right: @value;
                                    }
                                }

                                &.plat-down {
                                    left: @value;
                                }

                                &.plat-up {
                                    left: @value;
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = custom_width) {
                &.plat-modal {
                    &.modal-custom {
                        .plat-modal-container {
                            width: @value;

                            &.plat-modal-transition {
                                &.plat-left {
                                    right: -@value;
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = custom_height) {
                &.plat-modal {
                    &.modal-custom {
                        .plat-modal-container {
                            height: @value;

                            &.plat-modal-transition {
                                &.plat-down {
                                    top: -@value;
                                }

                                &.plat-up {
                                    bottom: -@value;
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = custom_x-offset) {
                &.plat-modal {
                    &.modal-custom {
                        .plat-modal-container {
                            &.plat-no-transition,
                            &.plat-modal-transition.plat-fade {
                                left: @value;
                            }

                            &.plat-modal-transition {
                                .plat-right {
                                    left: -@value;

                                    &.plat-activate {
                                        left: @value;
                                    }
                                }

                                &.plat-left {
                                    &.plat-activate {
                                        right: @value;
                                    }
                                }

                                &.plat-down {
                                    left: @value;
                                }

                                &.plat-up {
                                    left: @value;
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = custom_y-offset) {
                &.plat-modal {
                    &.modal-custom {
                        .plat-modal-container {
                            &.plat-no-transition,
                            &.plat-modal-transition.plat-fade {
                                top: @value;
                            }

                            &.plat-modal-transition {
                                .plat-right {
                                    top: @value;
                                }

                                &.plat-left {
                                    top: @value;
                                }

                                &.plat-down {
                                    &.plat-activate {
                                        top: @value;
                                    }
                                }

                                &.plat-up {
                                    &.plat-activate {
                                        bottom: @value;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    /// =========== Variable Modal Prompt Styles =========== ///

        .plat-modal-prompt(@prop: undefined; @value: undefined) {
            #platui > #mixins;

            & when (@prop = undefined), (@value = undefined) {
                &.plat-modal {
                    &.modal-prompt {
                        .plat-modal-container {
                            .border-radius(@prompt-border-radius);

                            &.plat-no-transition,
                            &.plat-modal-transition.plat-fade {
                                top: @prompt-top;
                            }

                            &.plat-modal-transition {
                                &.plat-up {
                                    .transition(@down-transition);

                                    &.plat-activate {
                                        top: @prompt-top;
                                    }
                                }

                                &.plat-down {
                                    &.plat-activate {
                                        top: @prompt-top;
                                    }
                                }

                                &.plat-left,
                                &.plat-right {
                                    top: @prompt-top;
                                }
                            }

                            & .prompt-title {
                                border-bottom-color: @prompt-accent-color;
                            }

                            & .prompt-body {
                                background-color: @prompt-body-color;
                            }

                            & .prompt-action {
                                background-color: @prompt-body-color;

                                &.button-group {
                                    & > button {
                                        border-top-color: @prompt-accent-color;

                                        &:last-child {
                                            border-left-color: @prompt-accent-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = prompt-body-color) {
                &.plat-modal {
                    &.modal-prompt {
                        .plat-modal-container {
                            & .prompt-title {
                                border-bottom-color: darken(@value, 4%);
                            }

                            & .prompt-body {
                                background-color: @value;
                            }

                            & .prompt-action {
                                background-color: @value;

                                &.button-group {
                                    & > button {
                                        border-top-color: darken(@value, 4%);

                                        &:last-child {
                                            border-left-color: darken(@value, 4%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = down-transition) {
                &.plat-modal {
                    &.modal-prompt {
                        .plat-modal-container {
                            &.plat-modal-transition {
                                &.plat-up {
                                    .transition(@value);
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = prompt-top) {
                &.plat-modal {
                    &.modal-prompt {
                        .plat-modal-container {
                            &.plat-no-transition,
                            &.plat-modal-transition.plat-fade {
                                top: @value;
                            }

                            &.plat-modal-transition {
                                &.plat-up {
                                    &.plat-activate {
                                        top: @value;
                                    }
                                }

                                &.plat-down {
                                    &.plat-activate {
                                        top: @value;
                                    }
                                }

                                &.plat-left,
                                &.plat-right {
                                    top: @value;
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = prompt-accent-color) {
                &.plat-modal {
                    &.modal-prompt {
                        .plat-modal-container {
                            & .prompt-title {
                                border-bottom-color: @value;
                            }

                            & .prompt-action {
                                &.button-group {
                                    & > button {
                                        border-top-color: @value;

                                        &:last-child {
                                            border-left-color: @value;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = prompt-border-radius) {
                &.plat-modal {
                    &.modal-prompt {
                        .plat-modal-container {
                            .border-radius(@value);
                        }
                    }
                }
            }
        }
    }
}
