@import (reference) '../global/variables.less';

#platui {
    #Modal {
        #dependencies {
           #platui > #variables;
	       @prompt-body-color: @pale-grey;
           @transition-time: 500ms;
        }

        #platui > #Modal > #dependencies;

    /// =========== Modal Colors =========== ///

        @color: @default-font-color;
        @background-color: @white;

    /// =========== Modal Sizes =========== ///

        #custom-height {
            @height: 50%;
            @y-offset: 0%;
        }

        #custom-width {
            @width: 50%;
            @x-offset: 0%;
        }

        #custom {
            @width: 50%;
            @height: 50%;
            @x-offset: 0%;
            @y-offset: 0%;
        }

    /// =========== Modal Transitions =========== ///

        @left-transition: right @transition-time;
        @right-transition: left @transition-time;
        @up-transition: bottom @transition-time;
        @down-transition: top @transition-time;
        @fade-transition: opacity 300ms;

    /// =========== Modal Prompt =========== ///

	    @prompt-top: 20%;
	    @prompt-accent-color: darken(@prompt-body-color, 4%);
	    @prompt-border-radius: 8px;
    }
}
