@import (reference) '../mixins/helpers.less';
@import (reference) '../mixins/transitions.less';
@import (reference) '../mixins/flexbox.less';
@import (reference) 'modal.variables.less';

/// =========== Modal Prompt Declaration =========== ///

& {
    #platui > #variables;
    #platui > #mixins;
    #platui > #Modal;

    .plat-modal {
        &.modal-prompt {
            background-color: rgba(0,0,0,0.6);

            .plat-modal-container {
                .border-radius(@prompt-border-radius);
                margin: 0 auto;
                width: 80%;
                max-width: 30em;
                height: auto;
                background-color: @white;
                color: @text-grey;

                &.plat-no-transition,
                &.plat-modal-transition.plat-fade {
                    top: @prompt-top;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                }

                &.plat-modal-transition {
                    &.plat-up, &.plat-down {
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    &.plat-up {
                        .transition(@down-transition);
                        top: 100%;

                        &.plat-activate {
                            top: @prompt-top;
                        }
                    }

                    &.plat-down {
                        &.plat-activate {
                            top: @prompt-top;
                        }
                    }

                    &.plat-left,
                    &.plat-right {
                        top: @prompt-top;

                        &.plat-activate {
                            left: 0;
                            right: 0;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }

                & .prompt-title {
                    padding: 1em 2em;
                    border-bottom: 1px solid @prompt-accent-color;
                    text-align: center;
                    font-size: 110%;
                }

                & .prompt-body {
                    padding: 1em 2em;
                    text-align: center;
                    background-color: @prompt-body-color;
                }

                & .prompt-action {
                    text-align: center;
                    padding: 1em 2em;
                    background-color: @prompt-body-color;

                    &.button-group {
                        .flexbox();
                        padding-left: 0;
                        padding-right: 0;
                        padding-bottom: 0;
                        width: 100%;

                        & > button {
                            .flex(1);
                            height: 100%;
                            padding-top: 1em;
                            padding-bottom: 1em;
                            font-size: 110%;
                            border-width: 0;
                            border-top: 2px solid @prompt-accent-color;
                            background-color: transparent;
                            color: lighten(@text-grey, 20%);

                            &:last-child {
                                border-left: 2px solid @prompt-accent-color;
                            }

                            &:hover {
                                opacity: 1;
                            }

                            &.button-suggested {
                                color: @text-grey;
                            }
                        }
                    }
                }
            }
        }
    }
}
