@import (reference) '../mixins/helpers.less';
@import (reference) '../mixins/transitions.less';
@import (reference) '../mixins/flexbox.less';
@import (reference) 'modal.variables.less';

/// =========== Modal Prompt Declaration =========== ///

& {
    #platui > #variables;
    #platui > #mixins;
    #platui > #Modal;

    .modal-prompt {
        background-color: @prompt-backdrop-color;

        .plat-modal-container {
            .border-radius(@prompt-border-radius);
            width: @prompt-width;
            max-width: @prompt-max-width;
            height: auto;
            // need this here for strange painting issue with prompt title and border-radius
            background-color: @transparent;

            &.plat-no-transition,
            &.plat-modal-transition.plat-fade,
            &.plat-modal-transition.plat-right,
            &.plat-modal-transition.plat-left {
                top: @prompt-top;
            }

            &.plat-no-transition,
            &.plat-modal-transition.plat-fade,
            &.plat-modal-transition.plat-down,
            &.plat-modal-transition.plat-up {
                .translate-accelerate(-50%;0);
                left: 50%;
            }

            &.plat-modal-transition {
                &.plat-down {
                    &.plat-activate {
                        top: @prompt-top;
                    }
                }

                &.plat-up {
                    .transition(@prompt-up-transition);
                    top: 100%;
                    bottom: unset;

                    &.plat-activate {
                        top: @prompt-top;
                        bottom: unset;
                    }
                }

                &.plat-right {
                    .translate-accelerate(-50%;0);

                    &.plat-activate {
                        left: 50%;
                    }
                }

                &.plat-left {
                    .translate-accelerate(50%;0);

                    &.plat-activate {
                        right: 50%;
                    }
                }
            }

            .prompt-title {
                padding: 1em 2em;
                border-bottom: 1px solid @prompt-accent-color;
                text-align: center;
                font-size: 110%;
                color: @prompt-title-color;
                background-color: @prompt-title-background-color;
            }

            .prompt-body {
                padding: 1em 2em;
                text-align: center;
                background-color: @prompt-body-background-color;
            }

            .prompt-action {
                text-align: center;
                padding: 1em 2em;
                background-color: @prompt-action-background-color;

                &.button-group {
                    .flexbox();
                    padding: 0;
                    width: 100%;

                    & > button {
                        .flex(1);
                        height: 100%;
                        padding-top: 1em;
                        padding-bottom: 1em;
                        font-size: 110%;
                        border: none;
                        border-top: 2px solid @prompt-accent-color;
                        background-color: @transparent;
                        color: lighten(@color, 20%);

                        &:not(:first-child) {
                            border-left: 2px solid @prompt-accent-color;
                        }

                        &:active {
                            background-color: darken(@prompt-action-background-color, 10%);
                        }

                        &.button-suggested {
                            color: @color;
                        }
                    }
                }
            }
        }
    }
}
