@import '../global/variables.less';
@import '../global/mixins.less';
@import 'modal.variables.less';

.plat-modal {
    #Modal;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    -webkit-backface-visibility: hidden;
    .box-sizing(border-box);
    .misc-webkit-touch();
    .user-select();
    .touch-action();

    .plat-modal-container {
        position: absolute;
        background-color: @background-color;
        color: @color;
        .scroll();
        .box-sizing(content-box);
        
        &.plat-no-transition,
        &.plat-modal-transition.fade {
            &.plat-full {
                top: 0;
                left: 0;
            }

            &.plat-halfwidth {
                top: 0;
                left: @left;

                &.plat-centered {
                    left: 50%;
                    .translateAccelerate(-50%;0);
                }
            }

            &.plat-halfheight {
                top: @top;
                left: 0;

                &.plat-centered {
                    top: 50%;
                    .translateAccelerate(0;-50%);
                }
            }

            &.plat-half,
            &.plat-custom {
                top: @top;
                left: @left;

                &.centered {
                    .translateAccelerate(-50%;-50%);
                }
            }

            &.plat-half {
                &.plat-centered {
                    top: 50%;
                    left: 50%;
                }
            }
        }

        &.plat-modal-transition {
            &.plat-right {
                .transition(@right-transition);

                &.plat-full {
                    top: 0;
                    left: -100%;

                    &.plat-activate {
                        left: 0;
                    }
                }
                
                &.plat-half,
                &.plat-halfwidth {
                    top: 0;
                    left: -50%;

                    &.plat-activate {
                        left: @left;

                        &.plat-centered {
                            left: 50%;
                        }
                    }
                }

                &.plat-halfwidth {
                    &.plat-centered {
                        .translateAccelerate(-50%;0);
                    }
                }

                &.plat-halfheight {
                    top: @top;
                    left: -100%;

                    &.plat-activate {
                        left: 0;
                    }

                    &.plat-centered {
                        top: 50%;
                        .translateAccelerate(0;-50%);
                    }
                }

                &.plat-half {
                    top: @top;

                    &.plat-centered {
                        top: 50%;
                        .translateAccelerate(-50%;-50%);
                    }
                }

                &.plat-custom {
                    top: @top;
                    left: -@width;

                    &.plat-activate {
                        left: @left;
                    }

                    &.plat-centered {
                        .translateAccelerate(-50%;-50%);
                    }
                }
            }

            &.plat-left {
                .transition(@left-transition);

                &.plat-full {
                    top: 0;
                    right: -100%;

                    &.plat-activate {
                        right: 0;
                    }
                }
                
                &.plat-half,
                &.plat-halfwidth {
                    top: 0;
                    right: -50%;

                    &.plat-activate {
                        right: @left;

                        &.plat-centered {
                            right: 50%;
                        }
                    }
                }

                &.plat-halfwidth {
                    &.plat-centered {
                        .translateAccelerate(50%;0);
                    }
                }

                &.plat-halfheight {
                    top: @top;
                    right: -100%;

                    &.plat-activate {
                        right: 0;
                    }

                    &.plat-centered {
                        top: 50%;
                        .translateAccelerate(0;-50%);
                    }
                }

                &.plat-half {
                    top: @top;

                    &.plat-centered {
                        top: 50%;
                        .translateAccelerate(50%;-50%);
                    }
                }

                &.plat-custom {
                    top: @top;
                    right: -@width;

                    &.plat-activate {
                        right: @left;
                    }

                    &.plat-centered {
                        .translateAccelerate(50%;-50%);
                    }
                }
            }

            &.plat-down {
                .transition(@down-transition);

                &.plat-full {
                    top: -100%;
                    left: 0;

                    &.plat-activate {
                        top: 0;
                    }
                }
                
                &.plat-half,
                &.plat-halfheight {
                    top: -50%;
                    left: 0;

                    &.plat-activate {
                        top: @top;

                        &.plat-centered {
                            top: 50%;
                        }
                    }
                }

                &.plat-halfheight {
                    &.plat-centered {
                        .translateAccelerate(0;-50%);
                    }
                }

                &.plat-halfwidth {
                    top: -100%;
                    left: @left;

                    &.plat-activate {
                        top: 0;
                    }

                    &.plat-centered {
                        left: 50%;
                        .translateAccelerate(-50%;0);
                    }
                }

                &.plat-half {
                    left: @left;

                    &.plat-centered {
                        left: 50%;
                        .translateAccelerate(-50%;-50%);
                    }
                }

                &.plat-custom {
                    top: -@height;
                    left: @left;

                    &.plat-activate {
                        top: @top;
                    }

                    &.plat-centered {
                        .translateAccelerate(-50%;-50%);
                    }
                }
            }

            &.plat-up {
                .transition(@up-transition);

                &.full {
                    bottom: -100%;
                    left: 0;

                    &.plat-activate {
                        bottom: 0;
                    }
                }
                
                &.plat-half,
                &.plat-halfheight {
                    bottom: -50%;
                    left: 0;

                    &.plat-activate {
                        bottom: @top;

                        &.plat-centered {
                            bottom: 50%;
                        }
                    }
                }

                &.plat-halfheight {
                    &.plat-centered {
                        .translateAccelerate(0;50%);
                    }
                }

                &.plat-halfwidth {
                    bottom: -100%;
                    left: @left;

                    &.plat-activate {
                        bottom: 0;
                    }

                    &.plat-centered {
                        left: 50%;
                        .translateAccelerate(-50%;0);
                    }
                }

                &.plat-half {
                    left: @left;

                    &.plat-centered {
                        left: 50%;
                        .translateAccelerate(-50%;50%);
                    }
                }

                &.plat-custom {
                    bottom: -@height;
                    left: @left;

                    &.plat-activate {
                        bottom: @top;
                    }

                    &.plat-centered {
                        .translateAccelerate(-50%;50%);
                    }
                }
            }

            &.plat-fade {
                opacity: 0;
                .transition(@fade-transition);

                &.plat-activate {
                    opacity: 1;
                }
            }
        }

        &.plat-full {
            width: 100%;
            height: 100%;
        }

        &.plat-halfwidth {
            width: 50%;
            height: 100%;
        }

        &.plat-halfheight {
            width: 100%;
            height: 50%;
        }

        &.plat-half {
            width: 50%;
            height: 50%;
        }

        &.plat-custom {
            width: @width;
            height: @height;
        }
    }
}
