#ModalVars {
    @modalColor: @white;
    @modalBackgroundColor: fadeout(@black, 25%);
    @modalWidth: 50%;
    @modalHeight: 50%;
    @modalLeftTransition: right 500ms;
    @modalRightTransition: left 500ms;
    @modalUpTransition: bottom 500ms;
    @modalDownTransition: top 500ms;
    @modalFadeTransition: opacity 500ms;
}