@import '../global/variables.less';

#Modal {
    @color: @white;
    @background-color: fadeout(@black, 25%);
    @width: 100%;
    @height: 50%;
    @left: 0%;
    @top: 0%;
    @left-transition: right 500ms;
    @right-transition: left 500ms;
    @up-transition: bottom 500ms;
    @down-transition: top 500ms;
    @fade-transition: opacity 300ms;
}