@import 'variables.less';
@import 'mixins.less';

/// ======= Globally-Used Animations ======== ///

.plat-slidein {
    .animation-name(@slideIn);
    .animation-duration(250ms);
    .animation-fill-mode(forwards);
}

.plat-slideout {
    .animation-name(@slideOut);
    .animation-duration(200ms);
    .animation-fill-mode(forwards);
}

.plat-fadein {
    .animation-name(@fadeIn);
    .animation-duration(500ms);
    .animation-fill-mode(forwards);
}

.plat-fadeout {
    .animation-name(@fadeOut);
    .animation-duration(100ms);
    .animation-fill-mode(forwards);
}

#Animations > .fade();
#Animations > .fade(@fadeIn; in);
#Animations > .slide();
#Animations > .slide(@slideOut; out; left);
#Animations > .slideAndFade();
#Animations > .slideAndFade(@slideOutFadeOut; out; left);

/// Custom Animations
#KeyFrames {
    .keyFrames(@name) {
        @-webkit-keyframes @name {
            .frames(@webkit);
        }

        @-moz-keyframes @name {
            .frames(@moz);
        }               

        @keyframes @name {
            .frames(@vanilla);
        }
    }
}

#Animations {
    .fade(@name: @fadeOut; @direction: out) {
        #KeyFrames > .keyFrames(@name);
        .frames(@prefix) {
            & when (@direction = in) {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            } & when (@direction = out) {
                from {
                    opacity: 1;
                }
                to {
                    opacity: 0;
                }
            }
        }
    }

    .slide(@name: @slideIn; @direction: in; @from: right) {
        #KeyFrames > .keyFrames(@name);
        .frames(@prefix) {
            & when (@direction = in) {
                & when (@from = left) {
                    from {
                        padding-left: -100%;
                    }
                } & when (@from = right) {
                    from {
                        padding-left: 100%;
                    }
                }
            } & when (@direction = out) {
                & when (@from = left) {
                    to {
                        padding-left: -100%;
                    }
                } & when (@from = right) {
                    to {
                        padding-left: 100%;
                    }
                }
            }
        }
    }

    .slideAndFade(@name: @slideInFadeIn; @direction: in; @from-to: right) {
        #KeyFrames > .keyFrames(@name);
        .frames(@prefix) {
            & when (@direction = in) {
                & when (@from-to = left) {
                    0% {
                        padding-left: -100%;
                        opacity: 0;
                    }
                } & when (@from-to = right) {
                    0% {
                        padding-left: 100%;
                        opacity: 0;
                    }
                }
                25% {
                    opacity: 0.1;
                }
                50% {
                    opacity: 0.2;
                }
                75% {
                    opacity: 0.3;
                }
                100% {
                    opacity: 1;
                }
            } & when (@direction = out) {
                0% {
                    opacity: 1;
                }
                25% {
                    opacity: 0.3;
                }
                50% {
                    opacity: 0.2;
                }
                75% {
                    opacity: 0.1;
                } & when (@from-to = left) {
                    100% {
                        padding-left: -100%;
                        opacity: 0;
                    }
                } & when (@from-to = right) {
                    100% {
                        padding-left: 100%;
                        opacity: 0;
                    }
                }
            }
        }
    }
}
