@import (reference) '../global/variables.less';

/// ========== PlatypusUI Helper Classes =========== ///


/// =========== Hide Content for Width ============= ///

& {
    #platui > #variables;

    @media all and (max-width: @phone-end) {
	    .hide-on-@{phone-alias} {
		    display: none !important;
	    }
    }

    @media all and (max-width: @phablet-end) {
	    .hide-on-@{phablet-alias} {
		    display: none !important;
	    }
    }

    @media all and (max-width: @tablet-end) {
	    .hide-on-@{tablet-alias} {
		    display: none !important;
	    }
    }

    @media all and (min-width: @phablet-start) {
	    .hide-above-@{phone-alias} {
		    display: none !important;
	    }
    }

    @media all and (min-width: @tablet-start) {
	    .hide-above-@{phablet-alias} {
		    display: none !important;
	    }
    }

    @media all and (min-width: @desktop-start) {
	    .hide-above-@{tablet-alias} {
		    display: none !important;
	    }
    }
}
