@import (reference) 'variables.less';
@import (reference) '../mixins/media.less';

/// ========== PlatypusUI Helper Classes =========== ///


/// =========== Hide Content for Width ============= ///

& {
    #platui > #variables;
    #platui > #media;

    .media-phone-max({
	    .hide-on-@{phone-alias} {
		    display: none !important;
	    }
    });

    .media-phablet-max({
	    .hide-on-@{phablet-alias} {
		    display: none !important;
	    }
    });

    .media-tablet-max({
	    .hide-on-@{tablet-alias} {
		    display: none !important;
	    }
    });

    .media-phablet({
	    .hide-above-@{phone-alias} {
		    display: none !important;
	    }
    });

    .media-tablet({
	    .hide-above-@{phablet-alias} {
		    display: none !important;
	    }
    });

    .media-desktop({
	    .hide-above-@{tablet-alias} {
		    display: none !important;
	    }
    });
}
