@import 'mixins.less';

/// ======= Globally Set Styles for PlatypusUI ======== ///

html, body {
    font-size: @defaultFontSize;
    font-weight: 100;
    .fill();
}

[plat-control="plat-routeport"],
[plat-control="plat-viewport"] {
    position: relative;
    z-index: 1;
    background-color: @defaultViewColor;
    .fill();

    & > *:only-child {
        .fill();
    }
}

[plat-hide] {
    display: none !important;
}
