@import 'mixins.less';

/// ======= Globally Set Styles for PlatypusUI ======== ///

html {
    .fill();
}

body {
    position: relative;
    font-size: @defaultFontSize;
    font-weight: 100;
    overflow: hidden;
    .fill();
}

[plat-control="plat-routeport"],
[plat-control="plat-viewport"] {
    position: relative;
    .fill();

    & > *:only-child {
        position: relative;
        .fill();
    }
}

.plat-hide,
[plat-hide] {
    display: none !important;
}

.plat-hidden,
[plat-hidden] {
    visibility: hidden !important;
}
