/**/
#platui {
    #variables {
        /// ============= Global Colors ============== ///

        /// Brand Colors

        @primary-color: @blue;
        @primary-color-light: lighten(@primary-color, 10%);
        @primary-color-dark: darken(@primary-color, 8%);
        @primary-color-pale: desaturate(@primary-color, 10%);

        @secondary-color: @purple;
        @secondary-color-light: lighten(@secondary-color, 10%);
        @secondary-color-dark: darken(@secondary-color, 8%);
        @secondary-color-pale: desaturate(@secondary-color, 10%);

        /// State/Action Colors

        @success-color: @green;
        @success-color-light: lighten(@success-color, 10%);
        @success-color-dark: darken(@success-color, 8%);
        @success-color-pale: desaturate(@success-color, 10%);

        @danger-color: @red;
        @danger-color-light: lighten(@danger-color, 10%);
        @danger-color-dark: darken(@danger-color, 8%);
        @danger-color-pale: desaturate(@danger-color, 10%);

        @caution-color: @yellow;
        @caution-color-light: lighten(@caution-color, 10%);
        @caution-color-dark: darken(@caution-color, 8%);
        @caution-color-pale: desaturate(@caution-color, 10%);

        @neutral-color: @grey;
        @neutral-color-light: lighten(@neutral-color, 10%);
        @neutral-color-dark: darken(@neutral-color, 10%);
        @neutral-color-pale: desaturate(@neutral-color, 10%);


        /// ========= Default Color Palette ========== ///

        /// Red
        @pale-red: #f8e5e7;
        @red: #EF716F;
        @red-offset: #dd4d4e;

        /// Blue
        @pale-blue: #edf4f6;
        @blue: #2d97d2;
        @blue-offset: #2d88be;

        /// Green
        @pale-green: #daeee8;
        @green: #8fcbb5;
        @green-offset: #8abca4;

        /// Yellow
        @pale-yellow: #ffefbd;
        @yellow: #FFE088;
        @yellow-offset: #f1c448;

        /// Brown
        @pale-brown: #eeeae7;
        @brown: #cbc6c5;
        @tan: #beb9b8;

        /// Orange
        @orange: #f0862c;

        /// Purple
        @purple: #A283A5;

        /// Greyscale
        @pale-grey: #edecec;
        @grey: #c8c7cd;
        @text-grey: #444444;
        @black: #000000;
        @white: #ffffff;
        @transparent: transparent;

        /// =============== Typography ================ ///

        @default-font-size: 16px;
        @default-font-type: @font-sans-serif;
        @default-font-color: @text-grey;
        @font-sans-serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        @font-serif: Georgia, "Times New Roman", Times, serif;
        @font-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
        
        /// Mixin Vars

        @webkit: -webkit-;
        @moz: -moz-;
        @ms: -ms-;
        @khtml: -khtml-;
        @vanilla: -;

        @webkit-list: @webkit, @vanilla;
        @ms-list: @ms, @vanilla;
        @moz-list: @moz, @vanilla;
        @webkit-moz-list: @webkit, @moz, @vanilla;
        @webkit-moz-ms-list: @webkit, @moz, @ms, @vanilla;
        @all-list: @webkit, @moz, @ms, @khtml, @vanilla;

        /// =============== Animations ================ ///

        @fade-in: FADE_IN;
        @fade-out: FADE_OUT;
        @slide-in: SLIDE_IN;
        @slide-out: SLIDE_OUT;
        @slide-in-fade-in: SLIDE_IN_FADE_IN;
        @slide-out-fade-out: SLIDE_OUT_FADE_OUT;

        /// ============== Various Sizes ============== ///

        @global-border-radius: 4px;

        /// ========= Responsive Breakpoints ========= ///

        /// Currently used in the grid system and in Typography

        /// Phone Breakpoint
        @phone-alias: phn;
        @phone-start: 0px;
        @phone-end: 499px;

        /// Phablet Breakpoint
        @phablet-alias: phb;
        @phablet-start: 500px;
        @phablet-end: 699px;

        /// Tablet Breakpoint
        @tablet-alias: tab;
        @tablet-start: 700px;
        @tablet-end: 899px;

        /// Desktop Breakpoint
        @desktop-alias: dsk;
        @desktop-start: 900px;
    }
}
