/// ======= Global Variables for PlatypusUI ======== ///

// Color
@primaryColor: #f0862c;
@primaryColorLight: fadeout(@primaryColor, 30%);
@primaryColorPale: fadeout(@primaryColor, 60%);
@secondaryColor: #5381b6;
@secondaryColorLight: fadeout(@secondaryColor, 30%);
@secondaryColorPale: fadeout(@secondaryColor, 60%);
@neutralColor: #5e5753;
@neutralColorLight: fadeout(@neutralColor, 30%);
@neutralColorPale: fadeout(@neutralColor, 60%);
@black: #000000;
@white: #ffffff;
@transparent: transparent;

// Defaults
@defaultFontSize: 16px;
@defaultFontType: @fontSansSerif;
@defaultViewColor: @white;

// Animations
@fadeIn: fadeIn;
@fadeOut: fadeOut;
@slideIn: slideIn;
@slideOut: slideOut;
@slideInFadeIn: slideInFadeIn;
@slideOutFadeOut: slideOutFadeOut;

// Typography
@fontSansSerif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@fontSerif: Georgia, "Times New Roman", Times, serif;
@fontMonospace: Menlo, Monaco, Consolas, "Courier New", monospace;

/// ======= Responsive Breakpoints ======== ///
/// Currently used in the grid system and in Typography

/// Phone Breakpoint
@phone-alias: phn;
@phone-start: 0px;
@phone-end: 499px;

/// Phablet Breakpoint
@phablet-alias: phb;
@phablet-start: 500px;
@phablet-end: 699px;

/// Tablet Breakpoint
@tablet-alias: tab;
@tablet-start: 700px;
@tablet-end: 899px;

/// Desktop Breakpoint
@desktop-alias: dsk;
@desktop-start: 900px;

