
/// ============= Global Colors ============== ///

/// Brand Colors

@primaryColor: @blue;
@primaryColorLight: lighten(@primaryColor, 10%);
@primaryColorDark: darken(@primaryColor, 8%);
@primaryColorPale: desaturate(@primaryColor, 10%);

@secondaryColor: @green;
@secondaryColorLight: lighten(@secondaryColor, 10%);
@secondaryColorDark: darken(@secondaryColor, 8%);
@secondaryColorPale: desaturate(@secondaryColor, 10%);

/// State/Action Colors

@successColor: @green;
@successColorLight: lighten(@successColor, 10%);
@successColorDark: darken(@successColor, 8%);
@successColorPale: desaturate(@successColor, 10%);

@dangerColor: @red;
@dangerColorLight: lighten(@dangerColor, 10%);
@dangerColorDark: darken(@dangerColor, 8%);
@dangerColorPale: desaturate(@dangerColor, 10%);

@cautionColor: @yellow;
@cautionColorLight: lighten(@cautionColor, 10%);
@cautionColorDark: darken(@cautionColor, 8%);
@cautionColorPale: desaturate(@cautionColor, 10%);

@neutralColor: @grey;
@neutralColorLight: lighten(@neutralColor, 10%);
@neutralColorDark: darken(@neutralColor, 8%);
@neutralColorPale: desaturate(@neutralColor, 10%);


/// ========= Default Color Palette ========== ///

/// Red
@paleRed: #f8e5e7;
@red: #ef5c50;
@redOffset: #dd4d4e;

/// Blue
@paleBlue: #edf4f6;
@blue: #2d97d2;
@blueOffset: #2d88be;

/// Green
@paleGreen: #daeee8;
@green: #8fcbb5;
@greenOffset: #8abca4;

/// Yellow
@paleYellow: #ffefbd;
@yellow: #ffd44c;
@yellowOffset: #f1c448;

/// Brown
@paleBrown: #eeeae7;
@brown: #cbc6c5;
@tan: #beb9b8;

/// Orange
@orange: #f0862c;

/// Greyscale
@paleGrey: #edecec;
@grey: #c8c7cd;
@textGrey: #676767;
@black: #000000;
@white: #ffffff;
@transparent: transparent;

/// =============== Typography ================ ///

@defaultFontSize: 16px;
@defaultFontType: @fontSansSerif;
@fontSansSerif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@fontSerif: Georgia, "Times New Roman", Times, serif;
@fontMonospace: Menlo, Monaco, Consolas, "Courier New", monospace;
@defaultViewColor: @white;

/// =============== Animations ================ ///

@fadeIn: fadeIn;
@fadeOut: fadeOut;
@slideIn: slideIn;
@slideOut: slideOut;
@slideInFadeIn: slideInFadeIn;
@slideOutFadeOut: slideOutFadeOut;

/// ======= Responsive Breakpoints ======== ///

/// Currently used in the grid system and in Typography

/// Phone Breakpoint
@phone-alias: phn;
@phone-start: 0px;
@phone-end: 499px;

/// Phablet Breakpoint
@phablet-alias: phb;
@phablet-start: 500px;
@phablet-end: 699px;

/// Tablet Breakpoint
@tablet-alias: tab;
@tablet-start: 700px;
@tablet-end: 899px;

/// Desktop Breakpoint
@desktop-alias: dsk;
@desktop-start: 900px;

