@import '../global/variables.less';

#Select {
    @background-color: @transparent;
    @color: @primaryColor;
    @padding: 2px;
    @border: @border-width solid @border-color;
    @border-width: 1px;
    @border-color: @primaryColor;
    @border-radius: 2px;
}