#SelectVars {
    @selectBackgroundColor: @transparent;
    @selectColor: @primaryColor;
    @selectPadding: 2px;
    @selectBorderWidth: 1px;
    @selectBorderColor: @primaryColor;
    @selectBorderRadius: 2px;
}