@import '../global/variables.less';

#Checkbox {

/// =========== Checkbox Colors =========== ///

    @secondary-mark-color: undefined;
    @background-color: @transparent;
    @border-color: @black;

/// =========== Checkbox Sizes ============ ///

    @diameter: 1.3em;
    @border-size: 1px;
}