@import (reference) '../mixins/helpers.less';
@import (reference) '../mixins/transforms.less';
@import (reference) '../mixins/flexbox.less';
@import (reference) 'checkbox.variables.less';

/// =========== Default Checkbox =========== ///

.plat-checkbox {
    #platui > #variables;
    #platui > #mixins;
    #platui > #Checkbox;
    display: inline-block;
    cursor: pointer;
    .flex-vertical-center();
    .box-sizing(border-box);

    & > span {
        line-height: @diameter;

        &:first-of-type {
            margin-left: 0.4em;
        }
    }

    .plat-checkbox-container {
        position: relative;
        display: inline-block;
        width: @diameter;
        height: @diameter;
        background-color: @background-color;
        overflow: hidden;
        border: 1px solid @border-color;
        .border-radius(@diameter);
        .box-sizing(content-box);

/// ============ Checkmark Symbol ============ ///

        &.plat-check,
        &.plat-x {
            background-color: @border-color;

            .plat-mark::before,
            .plat-mark::after {
                content: "";
                position: absolute;
                height: 2px;
                background-color: @white;
                .border-radius(2px);
            }
        }

        &.plat-check {
            .plat-mark::before {
                left: 13%;
                top: 55%;
                width: @diameter / 2.6;
                .rotate(45deg);
            }

            .plat-mark::after {
                left: 34%;
                top: 47%;
                width: @diameter / 1.7;
                .rotate(-45deg);
            }
        }

        &.plat-x {
            .plat-mark::before,
            .plat-mark::after {
                left: 17.5%;
                top: 48.5%;
                width: @diameter / 1.5;
            }

            .plat-mark::before {
                .rotate(45deg);
            }

            .plat-mark::after {
                .rotate(-45deg);
            }
        }
    }

/// ============ Checkmark Square ============ ///

    &.checkbox-square {
        .plat-checkbox-container {
            .border-radius(2px);
        }
    }

/// ============ Checkmark Colors ============ ///

    &.checkbox-primary {
        .plat-checkbox-container {
            border-color: @primary-color;

            &.plat-check,
            &.plat-x {
                background-color: @primary-color;
            }
        }
    }

    &.checkbox-secondary {
        .plat-checkbox-container {
            border-color: @secondary-color;
            
            &.plat-check,
            &.plat-x {
                background-color: @secondary-color;
            }
        }
    }

    &.checkbox-success {
        .plat-checkbox-container {
            border-color: @success-color;
            
            &.plat-check,
            &.plat-x {
                background-color: @success-color;
            }
        }
    }

    &.checkbox-caution {
        .plat-checkbox-container {
            border-color: @caution-color;
            
            &.plat-check,
            &.plat-x {
                background-color: @caution-color;
            }
        }
    }

    &.checkbox-danger {
        .plat-checkbox-container {
            border-color: @danger-color;
            
            &.plat-check,
            &.plat-x {
                background-color: @danger-color;
            }
        }
    }
}
