@import '../global/variables.less';
@import '../global/mixins.less';
@import 'checkbox.variables.less';

.plat-checkbox {
    #CheckboxVars;
    display: inline-block;
    cursor: pointer;
    .box-sizing(border-box);

    & > span {
        font-size: 175%;
        
        &:first-of-type {
            margin-left: 0.2em;
        }
    }

    .plat-checkbox-container {
        position: relative;
        display: inline-block;
        width: @checkboxSize;
        height: @checkboxSize;
        background-color: @checkboxBackgroundColor;
        overflow: hidden;
        border: @checkboxBorderSize solid @checkboxBorderColor;
        .border-radius(@checkboxSize);

        &.check,
        &.x {
            border-color: @checkboxActiveBorderColor;

            .mark::before,
            .mark::after {
                content: "";
                position: absolute;
                height: @checkboxMarkThickness;
                .border-radius(@checkboxMarkThickness);
            }
        }

        &.check {
            .mark::before {
                left: 5%;
                top: 60%;
                width: @checkboxSize / 2.5;
                .rotate(45deg);
            }

            .mark::after {
                left: 28%;
                top: 51%;
                width: @checkboxSize / 1.5;
                .rotate(-45deg);
            }
        }

        &.x {
            .mark::before,
            .mark::after {
                left: 17.5%;
                top: 48.5%;
                width: @checkboxSize / 1.5;
            }

            .mark::before {
                .rotate(45deg);
            }

            .mark::after {
                .rotate(-45deg);
            }
        }
    }

    &.primary {
        .plat-checkbox-container {
            &.check,
            &.x {
                .mark::before,
                .mark::after {
                    background-color: @checkboxMarkColor;
                }
            }
        }
    }

    &.secondary {
        .plat-checkbox-container {
            &.check,
            &.x {
                background-color: @checkboxMarkColor;

                .mark::before,
                .mark::after {
                    .secondaryCheckboxMarkColor(background-color);
                }
            }
        }
    }
}
