@import '../global/variables.less';

#Checkbox {
    // set this var to for a custom secondary checkbox mark color
    @secondary-mark-color: undefined;
    @background-color: @transparent;
    @border-color: @black;
    @checked-border-color: @primaryColor;
    @mark-color: @checked-border-color;
    @diameter: 1em;
    @border-size: 1px;
    @mark-thickness: @border-size;
}