@import '../global/variables.less';
@import '../global/mixins.less';
@import 'carousel.variables.less';

.plat-carousel {
    #Carousel;
    position: relative;
    display: inline-block;
    overflow: hidden;
    .fill();
    .user-select();
    .touch-action(none);
    .box-sizing(border-box);

    .plat-carousel-container {
        position: absolute;
        left: 0;
        top: 0;
        background-color: @background-color;
        white-space: nowrap;
        .fill();
        .box-sizing(border-box);

        .plat-carousel-item {
            width: 100%;
            height: 100%;
            padding-left: @padding-left;
            padding-right: @padding-right;
            padding-top: @padding-top;
            padding-bottom: @padding-bottom;
            .box-sizing(border-box);
        }

        &.plat-transition {
            .translateZ(0);
            .transition(@transition);
        }
    }

    &.plat-horizontal {
        .plat-carousel-container {
            .plat-carousel-item {
                display: inline-block;
            }
        }
    }

    &.plat-vertical {
        .plat-carousel-container {
            .plat-carousel-item {
                display: block;
            }
        }
    }
}
