@import (reference) '../mixins/helpers.less';
@import (reference) '../mixins/touch.less';
@import (reference) '../mixins/transforms.less';
@import (reference) '../mixins/transitions.less';
@import (reference) 'carousel.variables.less';

/// =========== Carousel Default Styles =========== ///

.plat-carousel {
    #platui > #variables;
    #platui > #mixins;
    #platui > #Carousel;
    position: relative;
    display: inline-block;
    min-height: 50px;
    .fill();
    .user-select();
    .touch-action(none);
    .box-sizing(border-box);

    .plat-carousel-container {
        position: relative;
        min-height: 50px;
        overflow: hidden;
        .fill();
        .box-sizing(border-box);

        .plat-carousel-slider {
            position: absolute;
            left: 0;
            top: 0;
            min-height: 50px;
            background-color: @background-color;
            white-space: nowrap;
            .fill();
            .box-sizing(border-box);

            .plat-carousel-item {
                width: 100%;
                height: 100%;
                padding-left: @padding-left;
                padding-right: @padding-right;
                padding-top: @padding-top;
                padding-bottom: @padding-bottom;
                .box-sizing(border-box);
            }

            &.plat-transition-init {
                .translateZ(0);
                .transition(@transition);
            }
        }
    }

    .plat-back-arrow,
    .plat-forward-arrow {
        position: absolute;
        text-align: center;
        color: @arrow-color;
        cursor: pointer;
        font-size: @arrow-font-size;
        .box-sizing(border-box);

        .plat-icon-arrow-down,
        .plat-icon-arrow-up,
        .plat-icon-arrow-left,
        .plat-icon-arrow-right {
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            height: 0.55em;
            width: 100%;
            left: 0;
            top: 50%;
            font-family: "platypus-icons";
            font-weight: bold;
            font-style: normal;
            font-variant: normal;
            font-size: inherit;
            speak: none;
            text-decoration: inherit;
            text-transform: none;
            line-height: normal;
            .translate-accelerate(0;-50%);
        }

        .plat-icon-arrow-down::before { content: "\e815"; }
        .plat-icon-arrow-left::before { content: "\e816"; }
        .plat-icon-arrow-right::before { content: "\e817"; }
        .plat-icon-arrow-up::before { content: "\e818"; }

        &:active,
        &:hover {
            color: @arrow-active-color;
        }
    }

    &.plat-horizontal {
        .plat-carousel-container {
            .plat-carousel-slider {
                .plat-carousel-item {
                    display: inline-block;
                }
            }
        }

        .plat-back-arrow,
        .plat-forward-arrow {
            top: 0;
            width: @arrow-width;
            height: @arrow-length;
        }

        .plat-back-arrow {
            left: 0;
        }

        .plat-forward-arrow {
            right: 0;
        }
    }

    &.plat-vertical {
        .plat-carousel-container {
            .plat-carousel-slider {
                .plat-carousel-item {
                    display: block;
                }
            }
        }

        .plat-back-arrow,
        .plat-forward-arrow {
            left: 0;
            width: @arrow-length;
            height: @arrow-width;
        }

        .plat-back-arrow {
            top: 0;
        }

        .plat-forward-arrow {
            bottom: 0;
        }
    }
}
