@import '../global/variables.less';

#Carousel {
    @background-color: @transparent;
    @color: @primaryColor;
    @border-size: 1px;
    @border-color: @primaryColor;
    @padding: 5px;
    @padding-left: @padding;
    @padding-right: @padding;
    @padding-top: @padding;
    @padding-bottom: @padding;
    @transition: all 300ms;
}