@import '../global/variables.less';

#Carousel {
    @background-color: @transparent;
    @color: @primaryColor;
    @border-size: 1px;
    @border-color: @primaryColor;
    @primary-border-radius: 2px;
    @secondary-border-radius: 0.5em;
}