/**/
@import (reference) '../../global/variables.less';

#platui {
    #platui > #variables;

    #ProgressBar {
    /// =========== Progress Bar Colors =========== ///

        @border-color: @neutral-color;
        @fill-color: @primary-color;
        
    /// =========== Progress Bar Properties =========== ///

        @height: 8px;
        @border: none;

    /// =========== Progress Bar Transition =========== ///

        @transition: none;
    }
}
