@import (reference) 'variables.less';
@import (reference) '../mixins/media.less';

/// ======= Globally Set Styles for PlatypusUI ======== ///

& {
    #platui > #variables;
    #platui > #mixins;
    #platui > #media;

    html,
    body {
	    font-family: @default-font-type;
	    color: @default-font-color;
        font-size: @default-font-size;
        -webkit-font-smoothing: antialiased;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    blockquote {
        .box-sizing(border-box);
	    display: block;
	    margin: 1em 0;
	    padding-left: 1em;
	    color: lighten(@default-font-color, 30%);
	    font-size: @default-font-size;
	    border-left: 1px solid lighten(@default-font-color, 30%);
    }

    cite {
        .box-sizing(border-box);
	    display: block;
	    padding: 0.3em 0;
	    font-size: @default-font-size * 0.9;
    }

    b,
    strong {
	    font-weight: bold;
    }

    dfn {
        font-style: italic;
    }

    abbr[title] {
        .box-sizing(border-box);
        border-bottom: 1px dotted;
    }

    small {
        font-size: 80%;
    }

    sub,
    sup {
	    font-size: 75%;
	    line-height: 0;
	    position: relative;
	    vertical-align: baseline;
    }

    sup {
        top: -0.5em;
    }

    sub {
        bottom: -0.25em;
    }

    /** Font Sizes **/
    /* Font sizes and line-height adjust based on the device-width. Device breakpoints */
    /* are set in global/variables.less. Measurements adapted from Robert Bringhurst's */
    /* classic and exhaustive work The Elements of Typographic Style. */

    .headings() {
        padding: 0;
        font-weight: 600;
    }

    .type(@type; @size; @lineHeight) {
        @{type} {
            font-size: @size;
            line-height: @lineHeight;
        }
    }

    @typography-margin: 0.67em;

    h1 {
        .headings();
        margin: @typography-margin 0 (@typography-margin / 1.25);

        &:first-child,
        &.no-collapse-top {
            .box-sizing(border-box);
            margin-top: 0;
            padding-top: @typography-margin;
        }

        &.no-collapse-bottom {
            .box-sizing(border-box);
            margin-bottom: 0;
            padding-bottom: @typography-margin / 1.25;
        }
    }

    h2, h3, h4 {
        .headings();
        margin: (@typography-margin * 1.25) 0 @typography-margin;

        &:first-child,
        &.no-collapse-top {
            .box-sizing(border-box);
            margin-top: 0;
            padding-top: @typography-margin * 1.25;
        }

        &.no-collapse-bottom {
            .box-sizing(border-box);
            margin-bottom: 0;
            padding-bottom: @typography-margin;
        }
    }

    h5, h6 {
        .headings();
        margin: (@typography-margin * 1.5) 0 (@typography-margin * 1.25);

        &:first-child,
        &.no-collapse-top {
            .box-sizing(border-box);
            margin-top: 0;
            padding-top: @typography-margin * 1.5;
        }

        &.no-collapse-bottom {
            .box-sizing(border-box);
            margin-bottom: 0;
            padding-bottom: @typography-margin * 1.25;
        }
    }

    p {
        padding: 0;
        margin: (@typography-margin * 1.5) 0;

        &:first-child,
        &.no-collapse-top {
            .box-sizing(border-box);
            margin-top: 0;
            padding-top: @typography-margin * 1.5;
        }

        &.no-collapse-bottom {
            .box-sizing(border-box);
            margin-bottom: 0;
            padding-bottom: @typography-margin * 1.5;
        }
    }

    /// Phone
	.type(p, @default-font-size, 1.30em);
	.type(h1, 2em, 1.5874em);
	.type(h2, 1.625em, 1.1538em);
	.type(h3, 1.375em, 1.1363em);
	.type(h4, 1.125em, 1.1111em);
	.type(h5, 0.925em, 1.0974em);
	.type(h6, 0.775em, 1.0783em);

    /// Tablet
    .tablet({
	    .type(p, @default-font-size, 1.412em);
	    .type(h1, 2.5em, 1.37em);
	    .type(h2, 2em, 1.25em);
	    .type(h3, 1.5em, 1.25em);
	    .type(h4, 1.125em, 1.2222em);
    });

    /// Desktop
    .desktop({
	    .type(h1, 3em, 1.3em);
	    .type(h2, 2.25em, 1.25em);
	    .type(h3, 1.75em, 1.25em);
	    .type(h5, 1em, 1.1111em);
	    .type(h6, 0.925em, 1.1111em);
    });
}
