@import (reference) '../global/variables.less';

#platui {
    #Range {
        #dependencies {
            @transition-time: 300ms;
        }

        #platui > #Range > #dependencies;

    /// ================= Range Size ================== ///

        @thickness: 0.5em;
        @fill-border-radius: 4px;

    /// ================= Range Knob Properties ================== ///

        @knob-diameter: 1.6em;
        @knob-border-size: 1px;

    /// =============== Range Transitions =============== ///

        @horizontal-transition: width @transition-time;
        @vertical-transition: height @transition-time;
    }
}
