@import (reference) '../global/variables.less';

#platui {
    #Range {
        #platui > #variables;

    /// ================= Range Colors ================== ///

        @fill-color: @neutral-color-dark;
        @unfilled-color: @neutral-color-light;
        @knob-base-color: @pale-grey;

    /// ================= Range Size ================== ///

        @thickness: 0.5em;
        @border-radius: 4px;

    /// ================= Range Knob Properties ================== ///

        @knob-diameter: 1.6em;
        @knob-border-size: 1px;

    /// =============== Range Transitions =============== ///

        @transition-time: 300ms;
    }
}
