@import (reference) '../global/variables.less';

#platui {
    #Range {
        #dependencies {
            #platui > #variables;
            @knob-base: @white;
        }

        #platui > #Range > #dependencies;

    /// ================= Range Colors ================== ///

        @fill-color: darken(@neutral-color, 10%);
        @empty-color: lighten(@neutral-color, 10%);

    /// ================= Range Size ================== ///

        @thickness: 0.5em;
        @border-radius: 4px;

    /// ================= Range Knob Properties ================== ///

        @knob-diameter: @global-touch-diameter;
        @knob-color: @knob-base;
        @knob-border-color: darken(@knob-base, 15%);
        @knob-border-width: 1px;

    /// =============== Range Transitions =============== ///

        @transition-time: 300ms;

    /// ========== Variable Range Style =========== ///

        .plat-range(@prop; @value) {
            #platui > #mixins;

            & when (@prop = knob-base) {
                .plat-range-container {
                    .plat-range-track {
                        .plat-lower-knob,
                        .plat-upper-knob {
                            background-color: @value;
                            border-color: darken(@value, 15%);
                        }
                    }
                }
            }
            & when (@prop = fill-color) {
                .plat-range-container {
                    .plat-range-track {
                        .box-shadow(inset 0px 1px 1px 0px darken(@value, 10%));
                        background-color: @value;
                    }
                }
            }
            & when (@prop = empty-color) {
                .plat-range-container {
                    .box-shadow(inset 0px 1px 1px 0px darken(@value, 10%));
                    background-color: @value;
                }
            }
            & when (@prop = knob-color) {
                .plat-range-container {
                    .plat-range-track {
                        .plat-lower-knob,
                        .plat-upper-knob {
                            background-color: @value;
                        }
                    }
                }
            }
            & when (@prop = knob-border-color) {
                .plat-range-container {
                    .plat-range-track {
                        .plat-lower-knob,
                        .plat-upper-knob {
                            border-color: @value;
                        }
                    }
                }
            }
            & when (@prop = knob-border-width) {
                .plat-range-container {
                    .plat-range-track {
                        .plat-lower-knob,
                        .plat-upper-knob {
                            border-width: @value;
                        }
                    }
                }
            }
            & when (@prop = border-radius) {
                .plat-range-container {
                    .border-radius(@value);

                    .plat-range-track {
                        .border-radius(@value);
                    }
                }
            }
            & when (@prop = thickness) {
                @half-thickness: @value / 2;

                &.plat-horizontal,
                &.plat-horizontal-reversed {
                    .plat-range-container {
                        .translate-accelerate(0;-@half-thickness);
                        height: @value;

                        .plat-range-track {
                            .plat-lower-knob,
                            .plat-upper-knob {
                                top: @half-thickness;
                            }
                        }
                    }
                }

                &.plat-vertical,
                &.plat-vertical-reversed {
                    .plat-range-container {
                        .translate-accelerate(-@half-thickness;0);
                        width: @value;

                        .plat-range-track {
                            .plat-lower-knob,
                            .plat-upper-knob {
                                left: @half-thickness;
                            }
                        }
                    }
                }
            }
            & when (@prop = knob-diameter) {
                @knob-radius: @knob-diameter / 2;

                .plat-range-container {
                    .plat-range-track {
                        .plat-lower-knob,
                        .plat-upper-knob {
                            width: @value;
                            height: @value;
                        }
                    }
                }

                &.plat-horizontal,
                &.plat-horizontal-reversed {
                    height: @value;
                    padding-left: @knob-radius;
                    padding-right: @knob-radius;

                    .plat-range-container {
                        .plat-range-track {
                            .plat-lower-knob,
                            .plat-upper-knob {
                                .translate-accelerate(0;-@knob-radius);
                            }

                            .plat-lower-knob {
                                left: -@knob-radius;
                            }

                            .plat-upper-knob {
                                right: -@knob-radius;
                            }
                        }
                    }
                }

                &.plat-vertical,
                &.plat-vertical-reversed {
                    width: @value;
                    padding-top: @knob-radius;
                    padding-bottom: @knob-radius;

                    .plat-range-container {
                        top: @knob-radius;

                        .plat-range-track {
                            .plat-lower-knob,
                            .plat-upper-knob {
                                .translate-accelerate(-@knob-radius;0);
                            }

                            .plat-lower-knob {
                                bottom: -@knob-radius;
                            }

                            .plat-upper-knob {
                                top: -@knob-radius;
                            }
                        }
                    }
                }
            }
            & when (@prop = transition-time) {
                &.plat-horizontal,
                &.plat-horizontal-reversed,
                &.plat-vertical,
                &.plat-vertical-reversed {
                    .plat-range-container {
                        .plat-range-track {
                            &.plat-transition-init {
                                .transition-duration(@value);
                            }
                        }
                    }
                }
            }
        }
    }

    #controls {
        /// ========== Variable Range Style =========== ///

        .plat-range(@prop: undefined; @value: undefined) {
            #platui > #mixins;

            & when (@prop = undefined), (@value = undefined) {
                @knob-radius: @knob-diameter / 2;
                @half-thickness: @thickness / 2;

                .plat-range-container {
                    .border-radius(@border-radius);
                    .box-shadow(inset 0px 1px 1px 0px darken(@empty-color, 10%));
                    background-color: @empty-color;

                    .plat-range-track {
                        .box-shadow(inset 0px 1px 1px 0px darken(@fill-color, 10%));
                        .border-radius(@border-radius);
                        background-color: @fill-color;

                        .plat-lower-knob,
                        .plat-upper-knob {
                            width: @knob-diameter;
                            height: @knob-diameter;
                            background-color: @knob-color;
                            border-color: @knob-border-color;
                            border-width: @knob-border-width;
                        }
                    }
                }

                &.plat-horizontal,
                &.plat-horizontal-reversed {
                    height: @knob-diameter;
                    padding-left: @knob-radius;
                    padding-right: @knob-radius;

                    .plat-range-container {
                        .translate-accelerate(0;-@half-thickness);
                        height: @thickness;

                        .plat-range-track {
                            .plat-lower-knob,
                            .plat-upper-knob {
                                .translate-accelerate(0;-@knob-radius);
                                top: @half-thickness;
                            }

                            .plat-lower-knob {
                                left: -@knob-radius;
                            }

                            .plat-upper-knob {
                                right: -@knob-radius;
                            }

                            &.plat-transition-init {
                                .transition-duration(@transition-time);
                            }
                        }
                    }
                }

                &.plat-vertical,
                &.plat-vertical-reversed {
                    width: @knob-diameter;
                    padding-top: @knob-radius;
                    padding-bottom: @knob-radius;

                    .plat-range-container {
                        .translate-accelerate(-@half-thickness;0);
                        top: @knob-radius;
                        width: @thickness;

                        .plat-range-track {
                            .plat-lower-knob,
                            .plat-upper-knob {
                                .translate-accelerate(-@knob-radius;0);
                                left: @half-thickness;
                            }

                            .plat-lower-knob {
                                bottom: -@knob-radius;
                            }

                            .plat-upper-knob {
                                top: -@knob-radius;
                            }

                            &.plat-transition-init {
                                .transition-duration(@transition-time);
                            }
                        }
                    }
                }
            }
            & when (@prop = knob-base) {
                .plat-range-container {
                    .plat-range-track {
                        .plat-lower-knob,
                        .plat-upper-knob {
                            background-color: @value;
                            border-color: darken(@value, 15%);
                        }
                    }
                }
            }
            & when (@prop = fill-color) {
                .plat-range-container {
                    .plat-range-track {
                        .box-shadow(inset 0px 1px 1px 0px darken(@value, 10%));
                        background-color: @value;
                    }
                }
            }
            & when (@prop = empty-color) {
                .plat-range-container {
                    .box-shadow(inset 0px 1px 1px 0px darken(@value, 10%));
                    background-color: @value;
                }
            }
            & when (@prop = knob-color) {
                .plat-range-container {
                    .plat-range-track {
                        .plat-lower-knob,
                        .plat-upper-knob {
                            background-color: @value;
                        }
                    }
                }
            }
            & when (@prop = knob-border-color) {
                .plat-range-container {
                    .plat-range-track {
                        .plat-lower-knob,
                        .plat-upper-knob {
                            border-color: @value;
                        }
                    }
                }
            }
            & when (@prop = knob-border-width) {
                .plat-range-container {
                    .plat-range-track {
                        .plat-lower-knob,
                        .plat-upper-knob {
                            border-width: @value;
                        }
                    }
                }
            }
            & when (@prop = border-radius) {
                .plat-range-container {
                    .border-radius(@value);

                    .plat-range-track {
                        .border-radius(@value);
                    }
                }
            }
            & when (@prop = thickness) {
                @half-thickness: @value / 2;

                &.plat-horizontal,
                &.plat-horizontal-reversed {
                    .plat-range-container {
                        .translate-accelerate(0;-@half-thickness);
                        height: @value;

                        .plat-range-track {
                            .plat-lower-knob,
                            .plat-upper-knob {
                                top: @half-thickness;
                            }
                        }
                    }
                }

                &.plat-vertical,
                &.plat-vertical-reversed {
                    .plat-range-container {
                        .translate-accelerate(-@half-thickness;0);
                        width: @value;

                        .plat-range-track {
                            .plat-lower-knob,
                            .plat-upper-knob {
                                left: @half-thickness;
                            }
                        }
                    }
                }
            }
            & when (@prop = knob-diameter) {
                @knob-radius: @knob-diameter / 2;

                .plat-range-container {
                    .plat-range-track {
                        .plat-lower-knob,
                        .plat-upper-knob {
                            width: @value;
                            height: @value;
                        }
                    }
                }

                &.plat-horizontal,
                &.plat-horizontal-reversed {
                    height: @value;
                    padding-left: @knob-radius;
                    padding-right: @knob-radius;

                    .plat-range-container {
                        .plat-range-track {
                            .plat-lower-knob,
                            .plat-upper-knob {
                                .translate-accelerate(0;-@knob-radius);
                            }

                            .plat-lower-knob {
                                left: -@knob-radius;
                            }

                            .plat-upper-knob {
                                right: -@knob-radius;
                            }
                        }
                    }
                }

                &.plat-vertical,
                &.plat-vertical-reversed {
                    width: @value;
                    padding-top: @knob-radius;
                    padding-bottom: @knob-radius;

                    .plat-range-container {
                        top: @knob-radius;

                        .plat-range-track {
                            .plat-lower-knob,
                            .plat-upper-knob {
                                .translate-accelerate(-@knob-radius;0);
                            }

                            .plat-lower-knob {
                                bottom: -@knob-radius;
                            }

                            .plat-upper-knob {
                                top: -@knob-radius;
                            }
                        }
                    }
                }
            }
            & when (@prop = transition-time) {
                &.plat-horizontal,
                &.plat-horizontal-reversed,
                &.plat-vertical,
                &.plat-vertical-reversed {
                    .plat-range-container {
                        .plat-range-track {
                            &.plat-transition-init {
                                .transition-duration(@value);
                            }
                        }
                    }
                }
            }
        }
    }
}
