@import (reference) '../global/variables.less';

#platui {
    #Drawer {
        #dependencies {
            @length-default: 80%;
        }

        #platui > #variables;
        #platui > #Drawer > #dependencies;

    /// =========== Drawer Colors =========== ///

        @color: @white;
        @background-color: @neutral-color;

    /// =========== Drawer Lengths =========== ///

        @length-left: @length-default;
        @length-right: @length-default;
        @length-top: @length-default;
        @length-bottom: @length-default;

    /// =========== Drawer Root Shadow =========== ///

        @shadow-left: -2px 0px 10px 0px fadeout(@black, 30%);
        @shadow-right: 2px 0px 10px 0px fadeout(@black, 30%);
        @shadow-top: 0px -2px 10px 0px fadeout(@black, 30%);
        @shadow-bottom: 0px 2px 10px 0px fadeout(@black, 30%);

    /// =========== Drawer Root Transition =========== ///

        @transition-time: 300ms;
        @transition-function: ease-out;
    }
}
