@import (reference) '../global/variables.less';

#platui {
    #Drawer {
        #platui > #variables;
    /// =========== Drawer Colors =========== ///

        @color: @white;
        @background-color: @neutral-color;
        @shadow-color: fadeout(@black, 30%);

    /// =========== Drawer Lengths =========== ///

        @length-default: 80%;
        @length-left: @length-default;
        @length-right: @length-default;
        @length-top: @length-default;
        @length-bottom: @length-default;
        @shadow-offset: 2px;
        @shadow-blur: 10px;
        @shadow-spread: 0px;
        
    /// =========== Drawer Transition =========== ///

        @transition: transform 300ms ease-out;
    }
}
