@import (reference) '../global/variables.less';
@import (reference) '../mixins/helpers.less';
@import (reference) '../mixins/media.less';
@import (reference) 'grid.mixins.less';

& {
    #platui > #variables;
    #platui > #__mixins;
    #platui > #grid;
    #platui > #media;

/// ======= Grid Styles ======== ///

    [class*='col-'],
    [class*='col-']:after,
    [class*='col-']:before {
	    margin: 0;
	    padding: 0;
        #platui > #mixins > .box-sizing(border-box);
    }

    [class*='col-'] {
	    position: relative;
	    float: left;
	    padding: @column-padding;
    }

    [class*='col-']:last-of-type {
	    padding-right: @column-padding;
    }

    .row:after {
	    content: "";
	    display: table;
	    clear: both;
    }

/// ======= Grid Column Generation ======== ///

	/// Phone
	.generate-full-width-cols(@phablet-alias);
	.generate-full-width-cols(@tablet-alias);
	.generate-full-width-cols(@desktop-alias);
	.generate-partial-width-cols(@phone-alias);
	.generate-offset-cols(@phone-alias);
	.generate-shiftable-cols(@phone-alias);

	/// Phablet
	.phablet({
		.generate-partial-width-cols(@phablet-alias);
		.generate-offset-cols(@phablet-alias);
		.generate-shiftable-cols(@phablet-alias);
	});

	/// Tablet
	.tablet({
		.generate-partial-width-cols(@tablet-alias);
		.generate-offset-cols(@tablet-alias);
		.generate-shiftable-cols(@tablet-alias);
	});

	/// Desktop
	.desktop({
		.generate-partial-width-cols(@desktop-alias);
		.generate-offset-cols(@desktop-alias);
		.generate-shiftable-cols(@desktop-alias);
	});
}
