@import (reference) '../global/variables.less';
@import (reference) '../mixins/helpers.less';
@import (reference) '../mixins/media.less';
@import (reference) 'grid.mixins.less';

& {
    #platui > #variables;
    #platui > #__mixins;
    #platui > #grid;
    #platui > #media;

/// ======= Grid Styles ======== ///

    [class*='col-'],
    [class*='col-']::after,
    [class*='col-']::before {
        #platui > #mixins > .box-sizing(border-box);
	    margin: 0;
    }

	[class*='col-']::after,
    [class*='col-']::before {
	    padding: 0;
    }

    [class*='col-'] {
	    position: relative;
	    float: left;
	    padding: @column-padding;
    }

    .row::after {
	    content: "";
	    display: table;
	    clear: both;
    }

/// ======= Grid Column Generation ======== ///

    /// Initial declarations
	.generate-full-width-cols(@phablet-alias);
	.generate-full-width-cols(@tablet-alias);
	.generate-full-width-cols(@desktop-alias);
	.generate-full-width-cols(@hd-alias);
	.generate-full-width-cols(@xhd-alias);

	/// Phone
	.generate-partial-width-cols(@phone-alias);
	.generate-offset-cols(@phone-alias);
	.generate-shiftable-cols(@phone-alias);

	/// Phablet
	.phb({
		.generate-partial-width-cols(@phablet-alias);
		.generate-offset-cols(@phablet-alias);
		.generate-shiftable-cols(@phablet-alias);
	});

	/// Tablet
	.tab({
		.generate-partial-width-cols(@tablet-alias);
		.generate-offset-cols(@tablet-alias);
		.generate-shiftable-cols(@tablet-alias);
	});

	/// Desktop
	.dsk({
		.generate-partial-width-cols(@desktop-alias);
		.generate-offset-cols(@desktop-alias);
		.generate-shiftable-cols(@desktop-alias);
	});

    /// HD
    .hd({
		.generate-partial-width-cols(@hd-alias);
		.generate-offset-cols(@hd-alias);
		.generate-shiftable-cols(@hd-alias);
    });

    /// XHD
    .xhd({
		.generate-partial-width-cols(@xhd-alias);
		.generate-offset-cols(@xhd-alias);
		.generate-shiftable-cols(@xhd-alias);
    });
}
