/**/
@import (reference) '../global/variables.less';
@import (reference) '../global/mixins.less';
@import (reference) '../global/animations.less';

#platui {
    #platui > #variables;

    #ProgressBar {
    /// =========== Progress Bar Colors =========== ///

        @border-color: @neutral-color;
        @fill-color: @primary-color;
        
    /// =========== Progress Bar Properties =========== ///

        @height: 8px;
        @border: none;

    /// =========== Progress Bar Transition =========== ///

        @transition: none;
    }

    #ProgressRing {
    /// =========== Progress Ring Colors =========== ///

        @ring-color: @primary-color;
        @fill-color: fade(@ring-color, 75%);
        @unfilled-color: fade(@ring-color, 10%);
        
    /// =========== Progress Ring Sizes =========== ///

        @diameter: 3em;
        @thickness: @diameter / 10;

    /// =========== Progress Ring Animation =========== ///

        @animation-name: PLAT-SPIN;
        @spin-frequency: 600ms;
        
    /// =========== Progress Ring Animation Mixins =========== ///

        .spin() {
            #platui > #keyframes > .keyframes(@animation-name);
            .frames(@prefix) {
                #platui > #mixins;
                from {
                    .transform(rotate(0deg); @prefix);
                }
                to {
                    .transform(rotate(359deg); @prefix);
                }
            }
        }
    }
}