@import '../global/variables.less';
@import '../global/mixins.less';

#ProgressBar {
    @border-color: @neutralColor;
    @fill-color: @primaryColor;
    @height: 8px;
    @border: none;
    @transition: none;
}

#ProgressRing {
    @ring-color: @primaryColor;
    @fill-color: fade(@ring-color, 75%);
    @unfilled-color: fade(@ring-color, 10%);
    @diameter: 3em;
    @thickness: @diameter / 10;
    @animation: PLAT-SPIN;
    @spin-frequency: 600ms;

    .spin() {
        #KeyFrames > .keyFrames(@animation);
        .frames(@prefix) {
            from {
                .transform(rotate(0deg), @prefix);
            }
            to {
                .transform(rotate(359deg), @prefix);
            }
        }
    }
}