@import '../global/variables.less';

#ProgressBar {
    @border-color: @neutralColor;
    @fill-color: @primaryColor;
    @unfilled-color: @primaryColorPale;
    @height: 0.25em;
    @border: none;
    @transition: none;
}

#ProgressRing {
    @ring-color: @primaryColor;
    @fill-color: fade(@ring-color, 75%);
    @unfilled-color: fade(@ring-color, 10%);
    @diameter: 3em;
    @thickness: @diameter / 10;
    @animation: PLAT-SPIN;
    @spin-frequency: 600ms;
}