@import (reference) '../../global/variables.less';

#platui {
    #ProgressBar {
        #platui > #variables;

    /// =========== Progress Bar Colors =========== ///

        @border-color: @neutral-color;
        @fill-color: @primary-color;

    /// =========== Progress Bar Properties =========== ///

        @height: 8px;
        @border: none;

    /// =========== Progress Bar Transition =========== ///

        @transition-time: 0s;
    }
}
