@import (reference) '../global/variables.less';

#platui {
    #Radio {
        #dependencies {
            #platui > #variables;
            @checked-border-color: @primary-color;
        }

        #platui > #Radio > #dependencies;

    /// =========== Radio Colors =========== ///

        @background-color: @transparent;
        @border-color: @grey;
        @mark-color: @checked-border-color;
        @mark-padding-color: @transparent;

    /// =========== Radio Size =========== ///

        @diameter: 1em;
        @border-size: 1px;
        @mark-padding: 1px;
    }
}
