@import (reference) '../mixins/helpers.less';
@import (reference) '../mixins/flexbox.less';
@import (reference) 'radio.variables.less';

/// =========== Radio Declaration =========== ///

& {
    #platui > #mixins;
    #platui > #Radio;

    .plat-radio {
        .flex-vertical-center(true);
        .box-sizing(border-box);
        cursor: pointer;

        & > span {
            line-height: @diameter;

            &:first-of-type {
                padding-left: 0.4em;
            }
        }

        .plat-radio-container {
            .flex(0 0 @diameter);
            .border-radius(50%);
            .background-clip(padding-box);
            .box-sizing(content-box);
            position: relative;
            display: inline-block;
            width: @diameter;
            height: @diameter;
            overflow: hidden;
            background-color: @background-color;
            border: @border-width solid @border-color;

            &.plat-bullet {
                border-color: @checked-border-color;

                .plat-mark {
                    .border-radius(50%);
                    .background-clip(padding-box);
                    .box-sizing(border-box);
                    background-color: @mark-color;
                    width: @diameter;
                    height: @diameter;
                    border: @mark-padding solid @mark-padding-color;
                }
            }
        }
    }
}
