@import (reference) '../global/variables.less';

#platui {
    #Radio {
        #dependencies {
            #platui > #variables;
            @mark-color: @primary-color;
            @background-color: @transparent;
        }

        #platui > #Radio > #dependencies;

    /// =========== Radio Colors =========== ///

        @border-color: @grey;
        @checked-border-color: @mark-color;
        @marked-background-color: @background-color;

    /// =========== Radio Size =========== ///

        @diameter: 1.2em;
        @border-width: 1px;
        @mark-padding: 1px;

    /// =========== Variable Radio Styles =========== ///

        .plat-radio(@prop; @value) {
            #platui > #mixins;

            & when (@prop = mark-color) {
                &.plat-radio {
                    .plat-radio-container {
                        &.plat-bullet {
                            border-color: @value;

                            .plat-mark {
                                background-color: @value;
                            }
                        }
                    }
                }
            }
            & when (@prop = background-color) {
                &.plat-radio {
                    .plat-radio-container {
                        background-color: @value;

                        &.plat-bullet {
                            .plat-mark {
                                border-color: @value;
                            }
                        }
                    }
                }
            }
            & when (@prop = border-color) {
                &.plat-radio {
                    .plat-radio-container {
                        border-color: @value;
                    }
                }
            }
            & when (@prop = checked-border-color) {
                &.plat-radio {
                    .plat-radio-container {
                        &.plat-bullet {
                            border-color: @value;

                            .plat-mark {
                                background-color: @value;
                            }
                        }
                    }
                }
            }
            & when (@prop = marked-background-color) {
                &.plat-radio {
                    .plat-radio-container {
                        &.plat-bullet {
                            .plat-mark {
                                border-color: @value;
                            }
                        }
                    }
                }
            }
            & when (@prop = diameter) {
                &.plat-radio {
                    .plat-radio-container {
                        .flex(0 0 @value);
                        width: @value;
                        height: @value;

                        &.plat-bullet {
                            .plat-mark {
                                width: @value;
                                height: @value;
                            }
                        }
                    }
                }
            }
            & when (@prop = border-width) {
                &.plat-radio {
                    .plat-radio-container {
                        border-width: @value;
                    }
                }
            }
            & when (@prop = mark-padding) {
                &.plat-radio {
                    .plat-radio-container {
                        &.plat-bullet {
                            .plat-mark {
                                border-width: @value;
                            }
                        }
                    }
                }
            }
        }
    }

    #controls {
        /// =========== Variable Radio Styles =========== ///

        .plat-radio(@prop: undefined; @value: undefined) {
            #platui > #mixins;

            & when (@prop = undefined), (@value = undefined) {
                &.plat-radio {
                    .plat-radio-container {
                        .flex(0 0 @diameter);
                        width: @diameter;
                        height: @diameter;
                        background-color: @background-color;
                        border-width: @border-width;
                        border-color: @border-color;

                        &.plat-bullet {
                            border-color: @checked-border-color;

                            .plat-mark {
                                background-color: @mark-color;
                                border-width: @mark-padding;
                                border-color: @marked-background-color;
                            }
                        }
                    }
                }
            }
            & when (@prop = mark-color) {
                &.plat-radio {
                    .plat-radio-container {
                        &.plat-bullet {
                            border-color: @value;

                            .plat-mark {
                                background-color: @value;
                            }
                        }
                    }
                }
            }
            & when (@prop = background-color) {
                &.plat-radio {
                    .plat-radio-container {
                        background-color: @value;

                        &.plat-bullet {
                            .plat-mark {
                                border-color: @value;
                            }
                        }
                    }
                }
            }
            & when (@prop = border-color) {
                &.plat-radio {
                    .plat-radio-container {
                        border-color: @value;
                    }
                }
            }
            & when (@prop = checked-border-color) {
                &.plat-radio {
                    .plat-radio-container {
                        &.plat-bullet {
                            border-color: @value;

                            .plat-mark {
                                background-color: @value;
                            }
                        }
                    }
                }
            }
            & when (@prop = marked-background-color) {
                &.plat-radio {
                    .plat-radio-container {
                        &.plat-bullet {
                            .plat-mark {
                                border-color: @value;
                            }
                        }
                    }
                }
            }
            & when (@prop = diameter) {
                &.plat-radio {
                    .plat-radio-container {
                        .flex(0 0 @value);
                        width: @value;
                        height: @value;

                        &.plat-bullet {
                            .plat-mark {
                                width: @value;
                                height: @value;
                            }
                        }
                    }
                }
            }
            & when (@prop = border-width) {
                &.plat-radio {
                    .plat-radio-container {
                        border-width: @value;
                    }
                }
            }
            & when (@prop = mark-padding) {
                &.plat-radio {
                    .plat-radio-container {
                        &.plat-bullet {
                            .plat-mark {
                                border-width: @value;
                            }
                        }
                    }
                }
            }
        }
    }
}
