@import (reference) '../global/variables.less';

#platui {
    #Navbar {
        #platui > #variables;

    /// =========== Navbar Colors =========== ///

        @background-color: @primary-color;
        @color: @white;

    /// =========== Navbar Dimensions =========== ///

        @height: 4em;
        @z-index: 100;
        @left-percentage: 100% / 3;
        @center-percentage: 100% / 3;
        @right-percentage: 100% / 3;
        @padding: 0;
        @item-padding: 0 1.5em;

    /// =========== Navbar Properties =========== ///

        @font-size: 125%;
        @border-top: none;
        @border-right: none;
        @border-bottom: none;
        @border-left: none;
        @box-shadow: 0px 0px 2px 1px lighten(@black, 10%);

    /// =========== Variable Navbar Styles =========== ///

        .plat-navbar(@prop; @value) {
            #platui > #mixins;

            & when (@prop = background-color) {
                &.plat-navbar {
                    background-color: @value;
                }
            }
            & when (@prop = color) {
                &.plat-navbar {
                    color: @value;
                }
            }
            & when (@prop = height) {
                &.plat-navbar {
                    height: @value;
                }
            }
            & when (@prop = z-index) {
                &.plat-navbar {
                    z-index: @value;
                }
            }
            & when (@prop = padding) {
                &.plat-navbar {
                    padding: @value;
                }
            }
            & when (@prop = border-top) {
                &.plat-navbar {
                    border-top: @value;
                }
            }
            & when (@prop = border-right) {
                &.plat-navbar {
                    border-right: @value;
                }
            }
            & when (@prop = border-bottom) {
                &.plat-navbar {
                    border-bottom: @value;
                }
            }
            & when (@prop = border-left) {
                &.plat-navbar {
                    border-left: @value;
                }
            }
            & when (@prop = left-percentage) {
                &.plat-navbar {
                    .plat-navbar-left {
                        width: @value;
                    }
                }
            }
            & when (@prop = center-percentage) {
                &.plat-navbar {
                    .plat-navbar-center {
                        width: @value;
                    }
                }
            }
            & when (@prop = right-percentage) {
                &.plat-navbar {
                    .plat-navbar-right {
                        width: @value;
                    }
                }
            }
            & when (@prop = item-padding) {
                &.plat-navbar {
                    .plat-navbar-item {
                        padding: @value;
                    }
                }
            }
            & when (@prop = font-size) {
                &.plat-navbar {
                    .plat-navbar-left,
                    .plat-navbar-center,
                    .plat-navbar-right {
                        font-size: @value;
                    }
                }
            }
            & when (@prop = box-shadow) {
                &.plat-navbar {
                    &:not(.no-navbar-shadow) {
                        .box-shadow(@value);
                    }
                }
            }
        }
    }

    #controls {
        /// =========== Variable Navbar Styles =========== ///

        .plat-navbar(@prop: undefined; @value: undefined) {
            #platui > #mixins;

            & when (@prop = undefined), (@value = undefined) {
                &.plat-navbar {
                    height: @height;
                    background-color: @background-color;
                    color: @color;
                    padding: @padding;
                    border-top: @border-top;
                    border-right: @border-right;
                    border-bottom: @border-bottom;
                    border-left: @border-left;
                    z-index: @z-index;

                    &:not(.navbar-no-shadow) {
                        .box-shadow(@box-shadow);
                    }

                    .plat-navbar-left,
                    .plat-navbar-center,
                    .plat-navbar-right {
                        font-size: @font-size;
                    }

                    .plat-navbar-item {
                        padding: @item-padding;
                    }

                    .plat-navbar-left {
                        width: @left-percentage;
                    }

                    .plat-navbar-center {
                        width: @center-percentage;
                    }

                    .plat-navbar-right {
                        width: @right-percentage;
                    }
                }
            }
            & when (@prop = background-color) {
                &.plat-navbar {
                    background-color: @value;
                }
            }
            & when (@prop = color) {
                &.plat-navbar {
                    color: @value;
                }
            }
            & when (@prop = height) {
                &.plat-navbar {
                    height: @value;
                }
            }
            & when (@prop = z-index) {
                &.plat-navbar {
                    z-index: @value;
                }
            }
            & when (@prop = padding) {
                &.plat-navbar {
                    padding: @value;
                }
            }
            & when (@prop = border-top) {
                &.plat-navbar {
                    border-top: @value;
                }
            }
            & when (@prop = border-right) {
                &.plat-navbar {
                    border-right: @value;
                }
            }
            & when (@prop = border-bottom) {
                &.plat-navbar {
                    border-bottom: @value;
                }
            }
            & when (@prop = border-left) {
                &.plat-navbar {
                    border-left: @value;
                }
            }
            & when (@prop = left-percentage) {
                &.plat-navbar {
                    .plat-navbar-left {
                        width: @value;
                    }
                }
            }
            & when (@prop = center-percentage) {
                &.plat-navbar {
                    .plat-navbar-center {
                        width: @value;
                    }
                }
            }
            & when (@prop = right-percentage) {
                &.plat-navbar {
                    .plat-navbar-right {
                        width: @value;
                    }
                }
            }
            & when (@prop = item-padding) {
                &.plat-navbar {
                    .plat-navbar-item {
                        padding: @value;
                    }
                }
            }
            & when (@prop = font-size) {
                &.plat-navbar {
                    .plat-navbar-left,
                    .plat-navbar-center,
                    .plat-navbar-right {
                        font-size: @value;
                    }
                }
            }
            & when (@prop = box-shadow) {
                &.plat-navbar {
                    &:not(.no-navbar-shadow) {
                        .box-shadow(@value);
                    }
                }
            }
        }
    }
}
