@import (reference) '../global/variables.less';

#platui {
    #Navbar {
        #platui > #variables;
    /// =========== Navbar Colors =========== ///

        @background-color: @primary-color;
        @color: @white;
        
    /// =========== Navbar Dimensions =========== ///
    
        @height: 4em;
        @z-index: 100;
        @left-percentage: 33.33333333%;
        @center-percentage: 33.33333333%;
        @right-percentage: 33.33333333%;
        @padding: 0 2em;
        @item-padding: 0.5em;
        
    /// =========== Navbar Properties =========== ///
    
        @border-top: none;
        @border-right: none;
        @border-bottom: none;
        @border-left: none;
        @box-shadow: 0px 0px 2px 1px lighten(@black, 10%);
    }
}
