@import (reference) '../mixins/helpers.less';
@import (reference) '../mixins/flexbox.less';
@import (reference) 'navbar.variables.less';

/// =========== Radio Default Styles =========== ///

.plat-navbar {
    #platui > #mixins;
    #platui > #Navbar;
    cursor: pointer;
    .flex-vertical-center(true);
    .box-sizing(border-box);

    .plat-radio-container {
        position: relative;
        display: inline-block;
    }
}
