#DrawerVars {
    @drawerColor: @white;
    @drawerBackgroundColor: @neutralColor;
    @drawerShadowColor: @black;
    @drawerLength: 80%;
    @drawerShadowOffset: 3px;
    @drawerShadowBlur: 20px;
    @drawerShadowSpread: 0px;
    @drawerTransition: all 300ms;
}