@import '../global/variables.less';

#Drawer {
    @color: @white;
    @background-color: @neutralColor;
    @length-default: 80%;
    @length-right: @length-default;
    @length-left: @length-default;
    @length-up: @length-default;
    @length-down: @length-default;
    @shadow-color: fadeout(@black, 30%);
    @shadow-offset: 2px;
    @shadow-blur: 10px;
    @shadow-spread: 0px;
    @transition: all 300ms ease-out;
}