@import '../global/variables.less';
@import '../global/mixins.less';
@import 'drawer.variables.less';

/// =========== Drawer Controller Default Styles =========== ///

.plat-drawer-controller {
    .user-select();
    .touch-action(none);
}

/// =========== Drawer Default Styles =========== ///

.plat-drawer {
    #Drawer;
    position: absolute;
    color: @color;
    z-index: 0;
    background-color: @background-color;
    -webkit-backface-visibility: hidden;
    .scroll();
    .box-sizing(border-box);

    &.plat-left,
    &.plat-right {
        height: 100%;
        top: 0;
    }

    &.plat-top,
    &.plat-bottom {
        width: 100%;
        left: 0;
    }

    &.plat-left {
        width: @length-left;
        left: 0;
    }

    &.plat-right {
        width: @length-right;
        right: 0;
    }

    &.plat-top {
        height: @length-top;
        top: 0;
    }

    &.plat-bottom {
        height: @length-bottom;
        bottom: 0;
    }
}

/// =========== Drawer Controller Root Element Styles =========== ///

.plat-drawer-transition-prep {
    #Drawer;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: none;
    
    &.plat-drawer-transition-right,
    &.plat-drawer-transition-left,
    &.plat-drawer-transition-top,
    &.plat-drawer-transition-bottom {
        overflow: hidden;
        .user-select(none);
        .touch-action(none);

        &.plat-drawer-open {
            .plat-clickeater {
                position: absolute;
                background-color: transparent;
                overflow: hidden;
                z-index: 9999;
                .fill();
                .touch-action(none);
            }
        }
    }

    &.plat-drawer-transition-left {
        .box-shadow(-@shadow-offset 0px @shadow-blur @shadow-spread @shadow-color);
    }

    &.plat-drawer-transition-right {
        .box-shadow(@shadow-offset 0px @shadow-blur @shadow-spread @shadow-color);
    }

    &.plat-drawer-transition-top {
        .box-shadow(0px -@shadow-offset @shadow-blur @shadow-spread @shadow-color);
    }

    &.plat-drawer-transition-bottom {
        .box-shadow(0px @shadow-offset @shadow-blur @shadow-spread @shadow-color);
    }

    &.plat-transition {
        .translateZ(0);
        .transition(@transition);
    }
}
