@import '../less/variables';

[plat-control="plat-drawer"] {
    #DrawerVars;
    position: absolute;
    overflow: auto;
    color: @drawerColor;
    background-color: @drawerBackgroundColor;
    -webkit-backface-visibility: hidden;
    .user-select(none);
    .box-sizing(border-box);

    &.right,
    &.left {
        width: @drawerLength;
        height: 100%;
        top: 0;
    }

    &.up,
    &.down {
        width: 100%;
        height: @drawerLength;
        left: 0;
    }

    &.right {
        left: 0;
    }

    &.left {
        right: 0;
    }

    &.down {
        top: 0;
    }

    &.up {
        bottom: 0;
    }
}

.plat-drawer-transition-prep {
    #DrawerVars;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: none;

    &.plat-drawer-transition-right {
        .box-shadow(-@drawerShadowOffset 0px @drawerShadowBlur @drawerShadowSpread @drawerShadowColor);
    }

    &.plat-drawer-transition-left {
        .box-shadow(@drawerShadowOffset 0px @drawerShadowBlur @drawerShadowSpread @drawerShadowColor);
    }

    &.plat-drawer-transition-down {
        .box-shadow(0px -@drawerShadowOffset @drawerShadowBlur @drawerShadowSpread @drawerShadowColor);
    }

    &.plat-drawer-transition-up {
        .box-shadow(0px @drawerShadowOffset @drawerShadowBlur @drawerShadowSpread @drawerShadowColor);
    }

    &.plat-transition {
        .transition(@drawerTransition);
    }
}

@import '../less/platypus';
