#Colors {
    @primaryColor: orange;
    @secondaryColor: dodgerblue;

    @toggleColor: gray;
    @toggleActiveColor: lime;

    @checkboxBorderColor: black;
    @checkboxMarkColor: black;

    @radioBorderColor: black;
    @radioMarkColor: black;

    @ringColor: @primaryColor;

    @barBorderColor: gray;
    @barColor: @primaryColor;

    @drawerColor: gray;
}