#Colors {
    /// Common
    @primaryColor: orange;
    @secondaryColor: dodgerblue;
    
    /// Toggle
    @toggleColor: gray;
    @toggleActiveColor: lime;
    
    /// Checkbox
    @checkboxBorderColor: black;
    @checkboxMarkColor: black;
    
    /// Radio Button
    @radioBorderColor: black;
    @radioMarkColor: black;
    
    /// Progress Ring
    @ringColor: @primaryColor;
    
    /// Progress Bar
    @barBorderColor: gray;
    @barColor: @primaryColor;
    
    /// Drawer
    @drawerColor: gray;
    
    /// Modal
    @modalColor: white;
    @modalBackgroundColor: rgba(0,0,0,0.75);
}