/// Common

@primaryColor: orange;
@secondaryColor: dodgerblue;
@neutralColor: gray;

/// Button
#ButtonVars {
    @buttonBackgroundColor: transparent;
    @buttonColor: black;
    @buttonBorderSize: 1px;
    @buttonBorderColor: black;
    @buttonPrimaryBorderRadius: 2px;
    @buttonSecondaryBorderRadius: 0.5em;
}

/// Toggle
#ToggleVars {
    @toggleColor: @neutralColor;
    @toggleActiveColor: @primaryColor;
    @toggleWidth: 4em;
    @toggleRatio: 1/3;
    @toggleHeight: @toggleWidth * @toggleRatio;
    @toggleBorderSize: 1px;
    @toggleBorderColor: @toggleColor;
    @toggleActivatedBorderColor: @toggleActiveColor;
    @transitionTime: 250ms;
    @toggleTransitionArgs: left @transitionTime, background-color @transitionTime;
    @knobColor: @toggleColor;
    @knobPadding: 1px;
}

/// Checkbox
#CheckboxVars {
    @checkboxBackgroundColor: transparent;
    @checkboxBorderColor: black;
    @checkboxActiveBorderColor: @primaryColor;
    @checkboxMarkColor: @checkboxActiveBorderColor;
    @checkboxSize: 1em;
    @checkboxBorderSize: 1px;
    @checkboxMarkThickness: @checkboxBorderSize;
    .secondaryCheckboxMarkColor(@property; @color) {
        & when (@color = transparent) {
            @{property}: white;
        }
        & when not (@color = transparent) {
            @{property}: @color;
        }
    }
}

/// Radio
#RadioVars {
    @radioBorderColor: black;
    @radioActiveBorderColor: @primaryColor;
    @radioMarkColor: @radioActiveBorderColor;
    @radioSize: 1em;
    @radioProportion: 3/5;
    @radioBorderSize: 1px;
}

/// Drawer
#DrawerVars {
    @drawerColor: @neutralColor;
    @drawerLength: 80%;
    @drawerTransition: all 200ms;
}

/// Modal
#ModalVars {
    @modalColor: white;
    @modalBackgroundColor: rgba(0,0,0,0.75);
    @modalWidth: 50%;
    @modalHeight: 50%;
    @modalLeftTransition: right 500ms;
    @modalRightTransition: left 500ms;
    @modalUpTransition: bottom 500ms;
    @modalDownTransition: top 500ms;
    @modalFadeTransition: opacity 500ms;
}

/// Progress Bar
#ProgressBarVars {
    @barBorderColor: @neutralColor;
    @barColor: @primaryColor;
    @barHeight: 1em;
    @barBorderSize: 1px;
    @barTransition: none;
}

/// Progress Ring
#ProgressRingVars {
    @ringColor: @primaryColor;
    @ringDiameter: 3em;
    @ringAnimation: PLAT-SPIN;
    @ringSpinSpeed: 500ms;
    @ringThickness: @ringDiameter / 10;
}
