#Navbar {

/// ================ Sizes ================== ///

	@navbar-action-width: 18%;
	@navbar-action-max-width: 6em;
	@navbar-height: 3.2em;
	@border-radius: @global-border-radius;

/// ================ Colors ================= ///
	
	@navbar-color: @primaryColor;

/// ============== Animations =============== ///
	@navbar-action-animation-mid: 0.4;
	@navbar-action-animation-max: 0.8;

	.navbar-action-animation-0 {
		top: @navbar-height / 2;
		margin-left: 0;
		height: 0px;
		width: 0px;
	}

	.navbar-action-animation-1 {
		top: (@navbar-height - (@navbar-height * @navbar-action-animation-mid)) * 0.5;
		margin-left: -((@navbar-height * @navbar-action-animation-mid) * 0.5);
		height: @navbar-height * @navbar-action-animation-mid;
		width: @navbar-height * @navbar-action-animation-mid;
	}

	.navbar-action-animation-2 {
		top: (@navbar-height - (@navbar-height * @navbar-action-animation-max)) * 0.5;
		margin-left: -((@navbar-height * @navbar-action-animation-max) * 0.5);
		height: @navbar-height * @navbar-action-animation-max;
		width: @navbar-height * @navbar-action-animation-max;
	}
}