#Navbar {

/// ================ Sizes ================== ///

	@navbar-action-width: 18%;
	@navbar-action-max-width: 6em;
	@navbar-height: 3.4em;

/// ================ Colors ================= ///
	
	@navbar-color: @primaryColor;

}