#Navbar {

/// ================ Sizes ================== ///

	@navbar-action-width: 18%;
	@navbar-action-max-width: 6em;
	@navbar-height: 3.2em;
	@border-radius: @global-border-radius;

/// ================ Colors ================= ///
	
	@navbar-color: @primaryColor;
}