[plat-control="plat-toggle"] {
    #ToggleVars;
    display: inline-block;
    cursor: pointer;
    .box-sizing(border-box);

    .plat-toggle-container {
        width: @toggleWidth;
        height: @toggleHeight;
        position: relative;
        overflow: hidden;
        border: @toggleBorderSize solid @toggleBorderColor;
        .border-radius(@toggleHeight);

        .slider {
            @knobDiameter: @toggleHeight;
            @knobRadius: @knobDiameter / 2;
            position: absolute;
            top: 0;
            left: -1 * (@toggleWidth - @knobDiameter);
            width: @toggleWidth;
            height: 100%;
            .border-radius(@knobDiameter);
            .transition(@toggleTransitionArgs);

            .knob {
                @knobDiameterAdjust: 2 * @knobPadding;
                position: absolute;
                top: @knobPadding;
                right: @knobPadding;
                height: ~'calc(@{knobDiameter} - @{knobDiameterAdjust})';
                width: ~'calc(@{knobDiameter} - @{knobDiameterAdjust})';
                background-color: @knobColor;
                .border-radius(@knobDiameter);
            }
        }

        &.slide {
            border-color: @toggleActivatedBorderColor;

            .slider {
                left: 0;
                background-color: @toggleActiveColor;
            }
        }
    }
}

@import '../less/variables';
@import '../less/platypus';
