#ToggleVars {
    @toggleWidth: 4em;
    @toggleRatio: 1/3;
    @toggleHeight: @toggleWidth * @toggleRatio;
    @toggleBorderSize: @toggleHeight / 10;
    @toggleTransitionArgs: left 250ms;
}

[plat-control="plat-toggle"] {
    #ToggleVars;
    #Colors;
    display: inline-block;
    cursor: pointer;
    .box-sizing(border-box);

    .plat-toggle-container {
        display: inline-block;
        position: relative;
        width: @toggleWidth;
        height: @toggleHeight;
        border: @toggleBorderSize solid @toggleColor;
        overflow: hidden;
        .border-radius(@toggleHeight);

        .slider {
            @knobDiameter: @toggleHeight;
            @knobRadius: @knobDiameter / 2;
            position: absolute;
            top: 0;
            left: -1 * (@toggleWidth - @knobDiameter);
            width: @toggleWidth;
            height: 100%;
            background-color: @toggleActiveColor;
            .border-radius(@knobDiameter + 0.1em);
            .transition(@toggleTransitionArgs);

            .knob {
                position: absolute;
                top: 0;
                right: 0;
                height: @knobDiameter;
                width: @knobDiameter;
                background-color: @toggleColor;
                .border-radius(@knobDiameter);
            }

            &.slide {
                left: 0;
            }
        }
    }
}

@import '../less/variables';
@import '../less/platypus';
