@import '../global/variables.less';

#Toggle {
    
/// =========== Toggle Colors =========== ///

    @border-color: darken(@neutralColorLight, 3%);
    @background-color-off: @neutralColorLight;
    @color: @neutralColor;
    @background-color-on: @successColor;
    @border-color-on: darken(@background-color-on, 5%);

/// ============ Toggle Size ============ ///
    
    @width: 3.5em;
    @ratio: 6/13;
    @height: @width * @ratio;
    @toggle-thin-ratio: 0.5;
    @toggle-thin-height: @height * @toggle-thin-ratio;

/// ========== Knob Properties ========== ///

    @knob-diameter: @height;
    @knob-transition: left @transition-time;
    @knob-border-color: @paleGrey;
    @knob-border-size: 1px;

/// ============= Animation ============= ///

    @transition-time: 250ms;
    @transition: 
        background-color @transition-time, 
        border-bottom-color @transition-time, border-left-color @transition-time, 
        border-right-color @transition-time, border-top-color @transition-time;
}