@import '../less/variables';

[plat-control="plat-toggle"] {
    #ToggleVars;
    display: inline-block;
    cursor: pointer;
    .box-sizing(border-box);

    .plat-toggle-container {
        @toggleHeight: @toggleWidth * @toggleRatio;
        width: @toggleWidth;
        height: @toggleHeight;
        position: relative;
        overflow: hidden;
        background-color: @toggleBackgroundColor;
        border: @toggleBorderSize solid;
        .toggleBorderColor(border-color);
        .border-radius(@toggleHeight);
        .transition(@toggleTransitionArgs);
           
        @knobDiameter: @toggleHeight; 
        .knob {
            position: absolute;
            top: 0;
            left: 0;
            height: @knobDiameter;
            width: @knobDiameter;
            background-color: @knobColor;
            border: @knobBorderSize solid;
            .knobBorderColor(border-color);
            .border-radius(@knobDiameter);
            .box-sizing(border-box);
            .transition(@knobTransitionArgs);
        }

        &.slide {
            border-color: @toggleActivatedBorderColor;
            background-color: @toggleActiveColor;

            .knob {
                left: @toggleWidth - @knobDiameter;
            }
        }
    }
}

@import '../less/platypus';
