@import '../global/variables.less';

#Toggle {
    // set this var to for a custom border color
    @border-color: undefined;
    @background-color: @neutralColor;
    @color: @neutralColor;
    @checked-color: @primaryColor;
    @width: 3.6em;
    // the ratio calculates the toggle height as @width * @ratio
    @ratio: 5/12;
    @checked-border-color: @checked-color;
    @border-size: 1px;
    @transition-time: 250ms;
    @transition: background-color @transition-time, 
        border-bottom-color @transition-time, border-left-color @transition-time, 
        border-right-color @transition-time, border-top-color @transition-time;
    @knob-transition: left @transition-time;
    @knob-color: @white;
    @knob-border-color: undefined;
    @knob-border-size: 1px;
}