@import '../global/variables.less';

#Range {

/// ================= Size ================== ///

    @thickness: 2px;
    @fill-border-radius: 5px;

/// ================= Color ================== ///

    @background-color: @primaryColorPale;
    @fill-color: @primaryColor;

/// =============== Knob Size ================ ///

    @lower-knob-diameter: 2em;
    @lower-knob-border-size: 1px;
    @upper-knob-diameter: 2em;
    @upper-knob-border-size: 1px;

/// =============== Knob Color =============== ///

    
    @lower-knob-primary-color: lighten(@fill-color, 15%);
    @lower-knob-secondary-color: @white;
    @lower-knob-primary-border-color: @fill-color;
    @lower-knob-secondary-border-color: @fill-color;
    @upper-knob-primary-color: lighten(@fill-color, 15%);
    @upper-knob-secondary-color: @white;
    @upper-knob-primary-border-color: @fill-color;
    @upper-knob-secondary-border-color: @fill-color;


/// =============== Animations =============== ///
    
    @horizontal-transition: width 300ms;
    @vertical-transition: height 300ms;
}