@import '../global/variables.less';
@import '../global/mixins.less';
@import 'range.variables.less';

.plat-range {
    #Range;
    position: relative;
    width: 100%;
    height: 100%;
    .box-sizing(border-box);
    
    @knob-radius: @knob-diameter / 2;
    .plat-range-container {
        position: absolute;
        background-color: @background-color;
        overflow: visible;
        .calc(width; '100% - @{knob-diameter}');
        .calc(height; '100% - @{knob-diameter}');

        .slider {
            position: absolute;
            background-color: @fill-color;
            overflow: visible;

            .knob {
                position: absolute;
                width: @knob-diameter;
                height: @knob-diameter;
                border: @knob-border-size solid @knob-border-color;
                .border-radius(@knob-diameter);
                .box-sizing(border-box);
            }
        }
    }

    &.right,
    &.left {
        height: @knob-diameter;

        .plat-range-container {
            top: 50%;
            left: @knob-radius;
            height: @thickness;

            .slider {
                width: 0;
                height: 100%;

                .knob {
                    top: -@knob-radius;
                }
            }

            &.plat-transition {
                .transition(@horizontal-transition);
            }
        }
    }

    &.right {
        .plat-range-container {
            .slider {
                left: 0;

                .knob {
                    right: -@knob-radius;
                }
            }
        }
    }

    &.left {
        .plat-range-container {
            .slider {
                right: 0;

                .knob {
                    left: -@knob-radius;
                }
            }
        }
    }

    &.up,
    &.down {
        width: @knob-diameter;

        .plat-range-container {
            left: 50%;
            top: @knob-radius;
            width: @thickness;

            .slider {
                width: 100%;
                height: 0;

                .knob {
                    left: -@knob-radius;
                }
            }

            &.plat-transition {
                .transition(@vertical-transition);
            }
        }
    }

    &.down {
        .plat-range-container {
            .slider {
                top: 0;

                .knob {
                    bottom: -@knob-radius;
                }
            }
        }
    }

    &.up {
        .plat-range-container {
            .slider {
                bottom: 0;

                .knob {
                    top: -@knob-radius;
                }
            }
        }
    }

    &.primary {
        .plat-range-container {
            .slider {
                .knob {
                    background-color: @knob-primary-color;
                }
            }
        }
    }

    &.secondary {
        .plat-range-container {
            .slider {
                .knob {
                    background-color: @knob-secondary-color;
                }
            }
        }
    }
}
