@import '../global/variables.less';

#RangeVars {
    @rangeBackgroundColor: @primaryColorPale;
    @rangeFillColor: @primaryColor;
    @knobBorderColor: @rangeFillColor;
    @knobPrimaryColor: @rangeFillColor;
    @knobSecondaryColor: @white;
    @rangeThickness: 2px;
    @knobSize: 2em;
    @knobBorderSize: 1px;
    @rangeHorizontalTransition: width 300ms;
    @rangeVerticalTransition: height 300ms;
}