@import (reference) '../mixins/helpers.less';
@import (reference) '../mixins/touch.less';
@import (reference) '../mixins/transforms.less';
@import (reference) '../mixins/transitions.less';
@import (reference) 'carousel.variables.less';

/// =========== Carousel Declaration =========== ///

& {
    #platui > #mixins;
    #platui > #Carousel;

    .plat-carousel {
        .fill();
        .box-sizing(border-box);
        position: relative;
        display: inline-block;
        min-height: 50px;

        .plat-carousel-viewport {
            .fill();
            .box-sizing(border-box);
            position: relative;
            min-height: 50px;
            overflow: hidden;

            .plat-carousel-container {
                .fill();
                .box-sizing(border-box);
                position: absolute;
                left: 0;
                top: 0;
                min-height: 50px;
                background-color: @background-color;
                white-space: nowrap;

                .plat-carousel-item {
                    .box-sizing(border-box);
                    width: 100%;
                    height: 100%;
                    position: relative;
                    padding-left: @padding-left;
                    padding-right: @padding-right;
                    padding-top: @padding-top;
                    padding-bottom: @padding-bottom;
                    white-space: normal;
                }

                &.plat-transition-init {
                    -webkit-transition: -webkit-transform @transition-time;
                    -moz-transition: -moz-transform @transition-time;
                    transition: transform @transition-time;
                }
            }

            .plat-back-arrow,
            .plat-forward-arrow {
                .box-sizing(border-box);
                position: absolute;
                text-align: center;
                color: @arrow-color;
                cursor: pointer;
                font-size: @arrow-font-size;

                .plat-icon-arrow-down,
                .plat-icon-arrow-up,
                .plat-icon-arrow-left,
                .plat-icon-arrow-right {
                    .translate-accelerate(0;-50%);
                    .webkit-touch-additions();
                    display: inline-block;
                    vertical-align: middle;
                    position: absolute;
                    height: 0.55em;
                    width: 100%;
                    left: 0;
                    top: 50%;
                    font-family: @arrow-font-family;
                    font-weight: @arrow-font-weight;
                    font-style: normal;
                    font-variant: normal;
                    font-size: inherit;
                    speak: none;
                    text-decoration: inherit;
                    text-transform: none;
                    line-height: normal;
                }

                .plat-icon-arrow-down::before { content: @arrow-down; }
                .plat-icon-arrow-left::before { content: @arrow-left; }
                .plat-icon-arrow-right::before { content: @arrow-right; }
                .plat-icon-arrow-up::before { content: @arrow-up; }

                &:active,
                &:hover {
                    color: @arrow-active-color;
                }
            }
        }

        &.plat-horizontal {
            .touch-action(pan-y);

            .plat-carousel-viewport {
                .plat-carousel-container {
                    .plat-carousel-item {
                        display: inline-block;
                    }
                }

                .plat-back-arrow,
                .plat-forward-arrow {
                    top: 0;
                    width: @arrow-width;
                    height: @arrow-length;
                }

                .plat-back-arrow {
                    left: 0;
                }

                .plat-forward-arrow {
                    right: 0;
                }
            }
        }

        &.plat-vertical {
            .touch-action(pan-x);

            .plat-carousel-viewport {
                .plat-carousel-container {
                    .plat-carousel-item {
                        display: block;
                    }
                }

                .plat-back-arrow,
                .plat-forward-arrow {
                    left: 0;
                    width: @arrow-length;
                    height: @arrow-width;
                }

                .plat-back-arrow {
                    top: 0;
                }

                .plat-forward-arrow {
                    bottom: 0;
                }
            }
        }

        &.carousel-no-arrows {
            .plat-carousel-viewport {
                .plat-back-arrow,
                .plat-forward-arrow {
                    display: none;
                }
            }
        }
    }
}
