@import (reference) '../global/variables.less';

#platui {
    #Carousel {
        #dependencies {
            @padding: 5px;
        }

        #platui > #variables;
        #platui > #Carousel > #dependencies;

    /// =========== Carousel Colors =========== ///

        @background-color: @transparent;
        @arrow-color: fadeout(@white, 50%);
        @arrow-active-color: @white;

    /// ============ Carousel Size ============ ///

        @padding-left: @padding;
        @padding-right: @padding;
        @padding-top: @padding;
        @padding-bottom: @padding;
        @arrow-length: 100%;
        @arrow-width: 1em;

    /// ============ Carousel Transition ============ ///

        @transition-time: 300ms;

    /// ============ Carousel Misc ============ ///

        @arrow-font-size: 400%;
        @arrow-font-family: "platypus-icons";
        @arrow-font-weight: bold;
        @arrow-down: "\e815";
        @arrow-left: "\e816";
        @arrow-right: "\e817";
        @arrow-up: "\e818";
    }
}
