@import (reference) '../../global/variables.less';
@import (reference) '../../mixins/transforms.less';
@import (reference) '../../animations/animations.variables.less';

#platui {
    #platui > #variables;

    #ProgressRing {
    /// =========== Progress Ring Colors =========== ///

        @ring-color: @primary-color;
        @fill-color: fade(@ring-color, 75%);
        @unfilled-color: fade(@ring-color, 10%);
        
    /// =========== Progress Ring Sizes =========== ///

        @diameter: 3em;
        @thickness: @diameter / 10;

    /// =========== Progress Ring Animation =========== ///

        @animation-name: PLAT-SPIN;
        @spin-frequency: 600ms;
        
    /// =========== Progress Ring Animation Mixins =========== ///

        .spin() {
            #platui > #animations > .keyframes(@animation-name);
            .frames(@prefix) {
                #platui > #mixins;
                from {
                    .transform(rotate(0deg); @prefix);
                }
                to {
                    .transform(rotate(359deg); @prefix);
                }
            }
        }
    }
}