@import (reference) '../../mixins/helpers.less';
@import (reference) '../../mixins/animations.less';
@import (reference) 'progressring.variables.less';

/// ============= Progress Ring Constants ============= ///

#platui {
    #__ProgressRing {
        #platui > #ProgressRing;
        @fill-color: fade(@color, 80%);
        @unfilled-color-0: fade(@color, 10%);
        @unfilled-color-1: fade(@color, 15%);
        @thickness: @diameter / 10;
        @delay-step: @spin-frequency / 12;
    }
}

/// =========== Progress Ring Declarations =========== ///

& {
    #platui > #mixins;
    #platui > #__ProgressRing;

    .plat-ring {
        .box-sizing(border-box);
        display: inline-block;
        position: relative;
        width: @diameter;
        height: @diameter;

        .plat-animated-ring {
            .box-sizing(border-box);
            .translateZ(0);
        }

        &.plat-ring-0 {
            .plat-animated-ring {
                .border-radius(50%);
                .animate(@spin-animation-name; @spin-frequency; linear; 0s; infinite);
                width: 100%;
                height: 100%;
                border-left: @thickness solid @fill-color;
                border-top: @thickness solid @unfilled-color-0;
                border-right: @thickness solid @unfilled-color-0;
                border-bottom: @thickness solid @unfilled-color-0;
            }
        }

        &.plat-ring-1 {
            .plat-animated-ring {
                .animate(@spin-animation-name; @spin-frequency; steps(8); 0s; infinite);
                width: 100%;
                height: 100%;
                position: relative;
	            overflow: hidden;

                .plat-animated-child::before,
                .plat-animated-child::after {
                    .border-radius(40%);
                    .transform-origin(50% (500% / 3));
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 45%;
                    width: 10%;
                    height: 30%;
                }

                .plat-animated-child-0::before {
                    background-color: fade(@color, 75%);
                }

                .plat-animated-child-0::after {
                    .rotate(-45deg);
                    background-color: fade(@color, 60%);
                }

                .plat-animated-child-1::before {
                    .rotate(-90deg);
                    background-color: fade(@color, 45%);
                }

                .plat-animated-child-1::after {
                    .rotate(-135deg);
                    background-color: fade(@color, 30%);
                }

                .plat-animated-child-2::before {
                    .rotate(45deg);
                    background-color: @unfilled-color-1;
                }

                .plat-animated-child-2::after {
                    .rotate(90deg);
                    background-color: @unfilled-color-1;
                }

                .plat-animated-child-3::before {
                    .rotate(135deg);
                    background-color: @unfilled-color-1;
                }

                .plat-animated-child-3::after {
                    .rotate(180deg);
                    background-color: @unfilled-color-1;
                }
            }
        }

        &.plat-ring-2 {
            .plat-animated-ring {
                width: 100%;
                height: 100%;
                position: relative;
	            overflow: hidden;

                .plat-animated-child {
                    .fill();
                    position: absolute;
                    top: 0;
                    left: 0;

                    &::before {
                        .border-radius(50%);
                        .animate(@fade-delay-animation-name; @spin-frequency; ease-in-out; 0s; infinite; normal; both);
                        content: "";
                        display: block;
                        margin: 0 auto;
                        width: 13%;
                        height: 13%;
                        background-color: @fill-color;
                    }
                }

                .plat-animated-child-1 {
                    .rotate(30deg);

                    &::before {
                        .animation-delay(-@spin-frequency + @delay-step);
                    }
                }

                .plat-animated-child-2 {
                    .rotate(60deg);

                    &::before {
                        .animation-delay(-@spin-frequency + (@delay-step * 2));
                    }
                }

                .plat-animated-child-3 {
                    .rotate(90deg);

                    &::before {
                        .animation-delay(-@spin-frequency + (@delay-step * 3));
                    }
                }

                .plat-animated-child-4 {
                    .rotate(120deg);

                    &::before {
                        .animation-delay(-@spin-frequency + (@delay-step * 4));
                    }
                }

                .plat-animated-child-5 {
                    .rotate(150deg);

                    &::before {
                        .animation-delay(-@spin-frequency + (@delay-step * 5));
                    }
                }

                .plat-animated-child-6 {
                    .rotate(180deg);

                    &::before {
                        .animation-delay(-@spin-frequency + (@delay-step * 6));
                    }
                }

                .plat-animated-child-7 {
                    .rotate(-150deg);

                    &::before {
                        .animation-delay(-@spin-frequency + (@delay-step * 7));
                    }
                }

                .plat-animated-child-8 {
                    .rotate(-120deg);

                    &::before {
                        .animation-delay(-@spin-frequency + (@delay-step * 8));
                    }
                }

                .plat-animated-child-9 {
                    .rotate(-90deg);

                    &::before {
                        .animation-delay(-@spin-frequency + (@delay-step * 9));
                    }
                }

                .plat-animated-child-10 {
                    .rotate(-60deg);

                    &::before {
                        .animation-delay(-@spin-frequency + (@delay-step * 10));
                    }
                }

                .plat-animated-child-11 {
                    .rotate(-30deg);

                    &::before {
                        .animation-delay(-@spin-frequency + (@delay-step * 11));
                    }
                }
            }
        }
    }

    .spin(@spin-animation-name);
    .fade-delay(@fade-delay-animation-name);
}
