@import (reference) '../../global/variables.less';
@import (reference) '../../mixins/transforms.less';
@import (reference) '../../animations/animations.variables.less';

#platui {
    #ProgressRing {
        #platui > #variables;

    /// =========== Progress Ring Colors =========== ///

        @color: @primary-color;

    /// =========== Progress Ring Sizes =========== ///

        @diameter: 3em;

    /// =========== Progress Ring Animation =========== ///

        @spin-animation-name: PLAT-SPIN;
        @fade-delay-animation-name: PLAT-FADE-DELAY;
        @spin-frequency: 650ms;

    /// =========== Progress Ring Animation Mixins =========== ///

        .spin(@name) {
            #platui > #animations > .keyframes(@name);
            .frames(@prefix) {
                #platui > #mixins;
                from {
                    .transform(rotate(0deg); @prefix);
                }
                to {
                    .transform(rotate(359deg); @prefix);
                }
            }
        }

        .fade-delay(@name) {
            #platui > #animations > .keyframes(@name);
            .frames(@prefix) {
                0%, 39%, 100% { opacity: 0; }
                40% { opacity: 1; }
            }
        }
    }
}
