/**/
@import (reference) '../global/variables.less';
@import (reference) 'loopers.less';

#platui {
    #mixins {
        #platui > #variables;
        /// Gradients

        .gradient(@default: #ffffff; @start: #000000; @stop: #ffffff) {
            #platui > #variables;
            .gradient(@default; @start; @stop; @webkit-moz-ms-list);
        }
        .gradient(@default; @start; @stop; @vendor-list) {
            .linear-gradient-top(@default; @start; 0%; @stop; 100%; @vendor-list);
        }

        .horizontal-gradient(@default: #ffffff; @start: #000000; @stop: #ffffff) {
            #platui > #variables;
            .horizontal-gradient(@default; @start; @stop; @webkit-moz-ms-list);
        }
        .horizontal-gradient(@default; @start; @stop; @vendor-list) {
            .linear-gradient-left(@default; @start; 0%; @stop; 100%; @vendor-list);
        }

        .linear-gradient-top(@default; @color1; @stop1; @color2; @stop2) {
            #platui > #variables;
            .linear-gradient-top(@default; @color1; @stop1; @color2; @stop2; @webkit-moz-ms-list);
        }
        .linear-gradient-top(@default; @color1; @stop1; @color2; @stop2; @vendor-list) when not (iscolor(@vendor-list)) {
            @gradient-value: top, @color1 @stop1, @color2 @stop2;
            background-color: @default;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(@stop1, @color1), color-stop(@stop2, @color2));
            #platui > #__mixins > .value-looper(background-image; linear-gradient; @gradient-value; @vendor-list; length(@vendor-list));
        }

        .linear-gradient-top(@default; @color1; @stop1; @color2; @stop2; @color3; @stop3) when (iscolor(@color3)) {
            #platui > #variables;
            .linear-gradient-top(@default; @color1; @stop1; @color2; @stop2; @color3; @stop3; @webkit-moz-ms-list);
        }
        .linear-gradient-top(@default; @color1; @stop1; @color2; @stop2; @color3; @stop3; @vendor-list) when not (iscolor(@vendor-list)) {
            @gradient-value: top, @color1 @stop1, @color2 @stop2, @color3 @stop3;
            background-color: @default;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(@stop1, @color1), color-stop(@stop2, @color2), color-stop(@stop3, @color3));
            #platui > #__mixins > .value-looper(background-image; linear-gradient; @gradient-value; @vendor-list; length(@vendor-list));
        }

        .linear-gradient-top(@default; @color1; @stop1; @color2; @stop2; @color3; @stop3; @color4; @stop4) when (iscolor(@color4)) {
            #platui > #variables;
            .linear-gradient-top(@default; @color1; @stop1; @color2; @stop2; @color3; @stop3; @color4; @stop4; @webkit-moz-ms-list);
        }
        .linear-gradient-top(@default; @color1; @stop1; @color2; @stop2; @color3; @stop3; @color4; @stop4; @vendor-list) {
            #platui > #variables;
            @gradient-value: top, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4;
            background-color: @default;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(@stop1, @color1), color-stop(@stop2, @color2), color-stop(@stop3, @color3), color-stop(@stop4, @color4));
            #platui > #__mixins > .value-looper(background-image; linear-gradient; @gradient-value; @vendor-list; length(@vendor-list));
        }

        .linear-gradient-left(@default; @color1; @stop1; @color2; @stop2) {
            #platui > #variables;
            .linear-gradient-left(@default; @color1; @stop1; @color2; @stop2; @webkit-moz-ms-list);
        }
        .linear-gradient-left(@default; @color1; @stop1; @color2; @stop2; @vendor-list) when not (iscolor(@vendor-list)) {
            @gradient-value: left, @color1 @stop1, @color2 @stop2;
            background-color: @default;
            background-image: -webkit-gradient(linear, left top, left top, color-stop(@stop1, @color1), color-stop(@stop2, @color2));
            #platui > #__mixins > .value-looper(background-image; linear-gradient; @gradient-value; @vendor-list; length(@vendor-list));
        }

        .linear-gradient-left(@default; @color1; @stop1; @color2; @stop2; @color3; @stop3) when (iscolor(@color3)) {
            #platui > #variables;
            .linear-gradient-left(@default; @color1; @stop1; @color2; @stop2; @color3; @stop3; @webkit-moz-ms-list);
        }
        .linear-gradient-left(@default; @color1; @stop1; @color2; @stop2; @color3; @stop3; @vendor-list) when not (iscolor(@vendor-list)) {
            @gradient-value: left, @color1 @stop1, @color2 @stop2, @color3 @stop3;
            background-color: @default;
            background-image: -webkit-gradient(linear, left top, left top, color-stop(@stop1, @color1), color-stop(@stop2, @color2), color-stop(@stop3, @color3));
            #platui > #__mixins > .value-looper(background-image; linear-gradient; @gradient-value; @vendor-list; length(@vendor-list));
        }

        .linear-gradient-left(@default; @color1; @stop1; @color2; @stop2; @color3; @stop3; @color4; @stop4) when (iscolor(@color4)) {
            #platui > #variables;
            .linear-gradient-left(@default; @color1; @stop1; @color2; @stop2; @color3; @stop3; @color4; @stop4; @webkit-moz-ms-list);
        }
        .linear-gradient-left(@default; @color1; @stop1; @color2; @stop2; @color3; @stop3; @color4; @stop4; @vendor-list) {
            @gradient-value: left, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4;
            background-color: @default;
            background-image: -webkit-gradient(linear, left top, left top, color-stop(@stop1, @color1), color-stop(@stop2, @color2), color-stop(@stop3, @color3), color-stop(@stop4, @color4));
            #platui > #__mixins > .value-looper(background-image; linear-gradient; @gradient-value; @vendor-list; length(@vendor-list));
        }
    }
}
