@import (reference) '../global/variables.less';

#platui {
    #File {
        #platui > #variables;

    /// ============== File Colors =============== ///

        @text-color: @text-grey;
        @input-background-color: @transparent;
        @input-border-color: @neutral-color;
        @button-color: @white;
        @button-background-color: @neutral-color;

    /// =============== File Sizes =============== ///

        @height: 2.5em;
        @input-width: 10em;
        @border-radius: 4px;
    }
}
