@import (reference) '../global/variables.less';

#platui {
    #File {
        #platui > #variables;

    /// ============== File Colors =============== ///

        @text-color: @text-grey;
        @input-background-color: @transparent;
        @input-border-color: @neutral-color;
        @button-color: @white;
        @button-background-color: @neutral-color;

    /// =============== File Sizes =============== ///

        @height: 2.5em;
        @input-width: 10em;
        @border-radius: 4px;

    /// =========== Variable File Styles =========== ///

        .plat-file(@prop: undefined; @value: undefined) {
            #platui > #mixins;

            & when (@prop = undefined), (@value = undefined) {
                &.plat-file {
                    height: @height;

                    .plat-file-container {
                        .plat-file-input {
                            .border-top-left-radius(@border-radius);
                            .border-bottom-left-radius(@border-radius);
                            width: @input-width;
                            background-color: @input-background-color;
                            color: @text-color;
                            border-color: @input-border-color;
                        }

                        .plat-file-button {
                            .border-top-right-radius(@border-radius);
                            .border-bottom-right-radius(@border-radius);
                            background-color: @button-background-color;
                            color: @button-color;
                            border-color: @button-background-color;

                            &:active {
                                background-color: darken(@button-background-color, 10%);
                            }

                            &[disabled],
                            &:disabled {
                                background-color: @button-background-color;
                            }
                        }
                    }

                    &.file-outline {
                        .plat-file-button {
                            border-color: @button-background-color;
                            color: @button-background-color;

                            &:active {
                                background-color: @button-background-color;
                            }

                            &[disabled],
                            &:disabled {
                                color: @button-background-color;
                            }
                        }
                    }
                }
            }
            & when (@prop = text-color) {
                &.plat-file {
                    .plat-file-container {
                        .plat-file-input {
                            color: @value;
                        }
                    }
                }
            }
            & when (@prop = input-background-color) {
                &.plat-file {
                    .plat-file-container {
                        .plat-file-input {
                            background-color: @value;
                        }
                    }
                }
            }
            & when (@prop = input-border-color) {
                &.plat-file {
                    .plat-file-container {
                        .plat-file-input {
                            border-color: @value;
                        }
                    }
                }
            }
            & when (@prop = button-color) {
                &.plat-file {
                    .plat-file-container {
                        .plat-file-button {
                            color: @value;
                        }
                    }
                }
            }
            & when (@prop = button-background-color) {
                &.plat-file {
                    .plat-file-container {
                        .plat-file-button {
                            background-color: @value;
                            border-color: @value;

                            &:active {
                                background-color: darken(@value, 10%);
                            }

                            &[disabled],
                            &:disabled {
                                background-color: @value;
                            }
                        }
                    }

                    &.file-outline {
                        .plat-file-button {
                            border-color: @value;
                            color: @value;

                            &:active {
                                background-color: @value;
                            }

                            &[disabled],
                            &:disabled {
                                color: @value;
                            }
                        }
                    }
                }
            }
            & when (@prop = height) {
                &.plat-file {
                    height: @value;
                }
            }
            & when (@prop = input-width) {
                &.plat-file {
                    .plat-file-container {
                        .plat-file-input {
                            width: @value;
                        }
                    }
                }
            }
            & when (@prop = border-radius) {
                &.plat-file {
                    .plat-file-container {
                        .plat-file-input {
                            .border-top-left-radius(@value);
                            .border-bottom-left-radius(@value);
                        }

                        .plat-file-button {
                            .border-top-right-radius(@value);
                            .border-bottom-right-radius(@value);
                        }
                    }
                }
            }
        }
    }
}
