[plat-control="plat-radio"] {
    #RadioVars;
    display: inline-block;
    cursor: pointer;
    .box-sizing(border-box);

    & > span {
        font-size: 175%;
    }

    .plat-radio-container {
        display: inline-block;
        position: relative;
        width: @radioSize;
        height: @radioSize;
        border: @radioBorderSize solid @radioBorderColor;
        overflow: hidden;
        .border-radius(@radioSize);

        .mark {
            &.radio {
                &::after {
                    content: "";
                    position: absolute;
                    background-color: @radioMarkColor;
                    height: @radioSize * @radioProportion;
                    width: @radioSize * @radioProportion;
                    left: 100% * (1-@radioProportion) / 2;
                    top: 100% * (1-@radioProportion) / 2;
                    .border-radius(@radioSize * @radioProportion);
                }
            }
        }
    }
}

@import '../less/variables';
@import '../less/platypus';
