[plat-control="plat-radio"] {
    #RadioVars;
    display: inline-block;
    cursor: pointer;
    .box-sizing(border-box);

    & > span {
        font-size: 175%;
    }

    .plat-radio-container {
        position: relative;
        width: @radioSize;
        height: @radioSize;
        overflow: hidden;
        border: @radioBorderSize solid @radioBorderColor;
        .border-radius(@radioSize);

        &.radio {
            border-color: @radioActiveBorderColor;
            .mark::after {
                content: "";
                position: absolute;
                background-color: @radioMarkColor;
                height: @radioSize * @radioProportion;
                width: @radioSize * @radioProportion;
                left: 100% * (1-@radioProportion) / 2;
                top: 100% * (1-@radioProportion) / 2;
                .border-radius(@radioSize * @radioProportion);
            }
        }
    }
}

@import '../less/variables';
@import '../less/platypus';
