@import '../global/variables.less';

#RadioVars {
    @radioBackgroundColor: @transparent;
    @radioBorderColor: @black;
    @radioActiveBorderColor: @primaryColor;
    @radioMarkColor: @radioActiveBorderColor;
    @radioMarkPaddingColor: @transparent;
    @radioSize: 1em;
    @radioBorderSize: 1px;
    @radioMarkPadding: 1px;
}