@import '../global/variables.less';

#Radio {
    @background-color: @transparent;
    @border-color: @black;
    @checked-border-color: @primaryColor;
    @mark-color: @checked-border-color;
    @mark-padding-color: @transparent;
    @diameter: 1em;
    @border-size: 1px;
    @mark-padding: 1px;
}