@import '../global/variables.less';
@import '../global/mixins.less';
@import 'listview.variables.less';

.plat-listview {
    #Listview;
    .fill();
    .box-sizing(border-box);
    position: relative;
    overflow: hidden;

    .plat-listview-viewport {
        .fill();
        .box-sizing(border-box);
        background-color: @viewport-background-color;
        z-index: 1;

        .plat-listview-container {
            .fill();
            .box-sizing(border-box);
        }
    }

    &.plat-vertical {
        .plat-ring-constants() {
            height: 2em;
            width: 100%;

            .plat-ring {
                height: 2em;
                width: 2em;
                position: absolute;
                .calc(left, '50% - 1em');

                .plat-progress-container {
                    .plat-animated-ring {
                        .border-radius(2em);
                    }
                }
            }
        }

        .plat-listview-viewport {
            .plat-listview-container {
                .scroll(y);

                .plat-incremental {
                    .plat-ring-constants();
                    position: relative;
                }
            }

            &.plat-refresh-prep {
                .plat-listview-container {
                    overflow: hidden;
                }
            }
            
            &.plat-transition {
                .translateZ(0);
                .transition(@refresh-transition);
            }
        }

        .plat-refresh {
            .plat-ring-constants();
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;

            .plat-ring {
                .plat-progress-container {
                    .plat-animated-ring {
                        .animation-play-state(paused);

                        &.plat-play {
                            .animation-play-state(running);
                        }
                    }
                }
            }

            &.plat-play {
                .plat-ring {
                    .plat-progress-container {
                        .plat-animated-ring {
                            .animation-play-state(running);
                        }
                    }
                }
            }
        }
    }

    &.plat-horizontal {
        .plat-listview-container {
            .scroll(x);
        }
    }
}
