@font-face {
  font-family: 'platypus-icons';
  src: url('fonts/icons.eot');
  src: url('fonts/icons.eot?#iefix') format('embedded-opentype'),
       url('fonts/icons.woff') format('woff'),
       url('fonts/icons.ttf') format('truetype'),
       url('fonts/icons.svg?#platypus-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "platypus-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

[class*="icon-1.5x"] {
  font-size: 150%;
}

[class*="icon-2x"] {
  font-size: 200%;
}

[class*="icon-3x"] {
  font-size: 300%;
}

.icon-arrow-down:before { content: '\e800'; }
.icon-arrow-left:before { content: '\e801'; }
.icon-arrow-right:before { content: '\e802'; }
.icon-arrow-up:before { content: '\e803'; }
.icon-camera:before { content: '\e804'; }
.icon-checkbox:before { content: '\e805'; }
.icon-checkmark:before { content: '\e806'; }
.icon-close:before { content: '\e807'; }
.icon-heart-o:before { content: '\e808'; }
.icon-cog:before { content: '\e808'; }
.icon-heart:before { content: '\e809'; }
.icon-download:before { content: '\e80a'; }
.icon-envelope:before { content: '\e80b'; }
.icon-exclamation-o:before { content: '\e80c'; }
.icon-exclamation:before { content: '\e80d'; }
.icon-eye:before { content: '\e80e'; }
.icon-desktop:before { content: '\e810'; }
.icon-link:before { content: '\e811'; }
.icon-paperclip:before { content: '\e812'; }
.icon-phone:before { content: '\e813'; }
.icon-pinned:before { content: '\e814'; }
.icon-refresh-a:before { content: '\e815'; }
.icon-refresh:before { content: '\e816'; }
.icon-search:before { content: '\e817'; }
.icon-tablet:before { content: '\e818'; }
.icon-user-girl:before { content: '\e819'; }
.icon-user:before { content: '\e81a'; }*/
