@font-face {
  font-family: 'platypus-icons';
  src: url('../../assets/fonts/icons.eot');
  src: url('../../assets/fonts/icons.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/icons.woff') format('woff'),
       url('../../assets/fonts/icons.ttf') format('truetype'),
       url('../../assets/fonts/icons.svg?#platypus-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "platypus-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
 
.icon-cog:before { content: '\e800'; } /* '' */
.icon-desktop:before { content: '\e801'; } /* '' */
.icon-download:before { content: '\e802'; } /* '' */
.icon-envelope:before { content: '\e803'; } /* '' */
.icon-exclamation-o:before { content: '\e804'; } /* '' */
.icon-exclamation:before { content: '\e805'; } /* '' */
.icon-eye-closed:before { content: '\e806'; } /* '' */
.icon-eye:before { content: '\e807'; } /* '' */
.icon-heart-o:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-link:before { content: '\e80a'; } /* '' */
.icon-multimedia:before { content: '\e80b'; } /* '' */
.icon-paperclip:before { content: '\e80c'; } /* '' */
.icon-pencil:before { content: '\e80d'; } /* '' */
.icon-phone:before { content: '\e80e'; } /* '' */
.icon-refresh-a:before { content: '\e80f'; } /* '' */
.icon-refresh:before { content: '\e810'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-tablet:before { content: '\e812'; } /* '' */
.icon-user-girl:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e814'; } /* '' */
.icon-arrow-down:before { content: '\e815'; } /* '' */
.icon-arrow-left:before { content: '\e816'; } /* '' */
.icon-arrow-right:before { content: '\e817'; } /* '' */
.icon-arrow-up:before { content: '\e818'; } /* '' */
.icon-camera:before { content: '\e819'; } /* '' */
.icon-checkbox:before { content: '\e81a'; } /* '' */
.icon-checkmark:before { content: '\e81b'; } /* '' */
.icon-close:before { content: '\e81c'; } /* '' */