@import (reference) '../../progress.variables.less';

/// =========== Progress Bar Default Styles =========== ///

.plat-progress {
    #platui > #variables;
    #platui > #mixins;
    #platui > #ProgressBar;
    width: 100%;
    .box-sizing(border-box);

    .plat-progress-container {
        position: relative;
        height: @height;
        width: 100%;
        background-color: @neutral-color-light;
        overflow: hidden;
        border: @border;
        .border-radius(@height);
        .box-sizing(content-box);
        .box-shadow(inset 0px 1px 1px 0px rgba(0,0,0,0.13));

        .plat-animated-bar {
            background-color: @neutral-color-dark;
            width: 0;
            height: @height;
            .border-radius(@height / 2);
            .box-sizing(content-box);
            .translateZ(0);
            .transition(@transition);
        }
    }

    &.progress-primary {
        .plat-animated-bar {
            background-color: @primary-color;
        }
    }

    &.progress-secondary {
        .plat-animated-bar {
            background-color: @secondary-color;
        }
    }

    &.progress-success {
        .plat-animated-bar {
            background-color: @success-color;
        }
    }

    &.progress-danger {
        .plat-animated-bar {
            background-color: @danger-color;
        }
    }

    &.progress-caution {
        .plat-animated-bar {
            background-color: @caution-color;
        }
    }
}
