[plat-control="plat-progress"] {
    #ProgressBarVars;
    width: 100%;
    .box-sizing(border-box);

    .plat-progress-container {
        position: relative;
        height: @barHeight;
        width: 100%;
        background-color: @barBackgroundColor;
        overflow: hidden;
        border: @barBorder;
        .border-radius(@barHeight);
        .box-sizing(content-box);

        .bar {
            background-color: @barColor;
            width: 0;
            height: @barHeight;
            .border-radius(@barHeight);
            .transition(@barTransition);
        }
    }
}

@import '../../../less/variables';
@import '../../../less/platypus';
