/**/
@import (reference) '../global/variables.less';

#platui {
    #File {
        #platui > #variables;
    /// ============== Input Colors =============== ///

        @text-color: @text-grey;
        @placeholder-color: @neutral-color;

    /// =============== Input Sizes =============== ///
    
        @default-height: 2.5em;
        @default-width: 18em;
    }
}
