@import (reference) '../global/variables.less';

#platui {
    #Input {
        #dependencies {
            #platui > #variables;
            @border-color: @neutral-color;
            @border-bottom-width: 2px;
            @outline-border-width: 1px;
        }

        #platui > #Input > #dependencies;

    /// ============== Input Colors =============== ///

        @text-color: @default-font-color;
        @background-color: @transparent;
        @placeholder-color: @neutral-color;

    /// =============== Input Sizes =============== ///

        @height: 2.5em;
        @width: 18em;
        @border-bottom: @border-bottom-width solid @border-color;
        @outline-border: @outline-border-width solid @border-color;
        @outline-border-radius: @global-border-radius;

    /// =========== Variable Input Styles =========== ///

        .plat-input(@prop; @value) {
            #platui > #mixins;

            & when (@prop = border-color) {
                &.plat-input {
                    border-color: @value;

                    &:focus {
                        border-color: darken(@value, 25%);
                    }
                }
            }
            & when (@prop = border-bottom-width) {
                &.plat-input {
                    &:not(.input-outline) {
                        border-bottom-width: @value;
                    }
                }
            }
            & when (@prop = border-bottom) {
                &.plat-input {
                    &:not(.input-outline) {
                        border-bottom: @value;
                    }
                }
            }
            & when (@prop = outline-border-width) {
                &.plat-input {
                    &.input-outline {
                        border-width: @value;
                    }
                }
            }
            & when (@prop = outline-border) {
                &.plat-input {
                    &.input-outline {
                        border: @value;
                    }
                }
            }
            & when (@prop = outline-border-radius) {
                &.plat-input {
                    &.input-outline {
                        .border-radius(@value);
                    }
                }
            }
            & when (@prop = text-color) {
                &.plat-input {
                    color: @value;
                }
            }
            & when (@prop = background-color) {
                &.plat-input {
                    background-color: @value;
                }
            }
            & when (@prop = placeholder-color) {
                &.plat-input {
                    &::-webkit-input-placeholder,
                    &::-moz-input-placeholder,
                    &:-moz-input-placeholder,
                    &:-ms-input-placeholder {
                        color: @value;
                    }
                }
            }
            & when (@prop = height) {
                &.plat-input {
                    height: @value;
                }
            }
            & when (@prop = width) {
                &.plat-input {
                    width: @value;
                }
            }
        }
    }

    #controls {
        /// =========== Variable Input Styles =========== ///

        .plat-input(@prop: undefined; @value: undefined) {
            #platui > #mixins;

            & when (@prop = undefined), (@value = undefined) {
                @border-color-accent: darken(@border-color, 25%);

                &.plat-input {
                    width: @width;
                    height: @height;
                    background-color: @background-color;
                    color: @text-color;

                /// =========== Placeholder Styling =========== ///

                    &::-webkit-input-placeholder,
                    &::-moz-input-placeholder,
                    &:-moz-input-placeholder,
                    &:-ms-input-placeholder {
                        color: @placeholder-color;
                    }

                    &:not(.input-outline) {
                        border-bottom: @border-bottom;
                    }

                /// ============== Secondary Input =============== ///

                    &.input-outline {
                        .border-radius(@outline-border-radius);
                        border: @outline-border;
                    }

                    &:focus {
                        border-color: @border-color-accent;
                    }
                }
            }
            & when (@prop = border-color) {
                &.plat-input {
                    border-color: @value;

                    &:focus {
                        border-color: darken(@value, 25%);
                    }
                }
            }
            & when (@prop = border-bottom-width) {
                &.plat-input {
                    &:not(.input-outline) {
                        border-bottom-width: @value;
                    }
                }
            }
            & when (@prop = border-bottom) {
                &.plat-input {
                    &:not(.input-outline) {
                        border-bottom: @value;
                    }
                }
            }
            & when (@prop = outline-border-width) {
                &.plat-input {
                    &.input-outline {
                        border-width: @value;
                    }
                }
            }
            & when (@prop = outline-border) {
                &.plat-input {
                    &.input-outline {
                        border: @value;
                    }
                }
            }
            & when (@prop = outline-border-radius) {
                &.plat-input {
                    &.input-outline {
                        .border-radius(@value);
                    }
                }
            }
            & when (@prop = text-color) {
                &.plat-input {
                    color: @value;
                }
            }
            & when (@prop = background-color) {
                &.plat-input {
                    background-color: @value;
                }
            }
            & when (@prop = placeholder-color) {
                &.plat-input {
                    &::-webkit-input-placeholder,
                    &::-moz-input-placeholder,
                    &:-moz-input-placeholder,
                    &:-ms-input-placeholder {
                        color: @value;
                    }
                }
            }
            & when (@prop = height) {
                &.plat-input {
                    height: @value;
                }
            }
            & when (@prop = width) {
                &.plat-input {
                    width: @value;
                }
            }
        }
    }
}
