@import (reference) '../global/variables.less';

#platui {
    #Input {
        #dependencies {
            #platui > #variables;
            @border-color: @neutral-color;
            @border-bottom-width: 2px;
            @outline-border-width: 2px;
        }

        #platui > #Input > #dependencies;

    /// ============== Input Colors =============== ///

        @text-color: @text-grey;
        @background-color: @transparent;
        @placeholder-color: @neutral-color;

    /// =============== Input Sizes =============== ///

        @height: 2.5em;
        @width: 18em;
        @border-bottom: @border-bottom-width solid @border-color;
        @outline-border: @outline-border-width solid @border-color;
        @outline-border-radius: 4px;
    }
}
