@import (reference) '../mixins/helpers.less';
@import (reference) 'input.variables.less';

/// ============= Input Constants ============= ///

#platui {
    #__Input {
        #platui > #variables;
        #platui > #Input;
        @border-color-accent: darken(@border-color, 25%);
        @action-padding: 2.5em;
    }
}

/// =========== Input Declaration =========== ///

& {
    #platui > #mixins;
    #platui > #__Input;

    .plat-input {
        .box-sizing(border-box);
        display: inline-block;
        width: @width;
        height: @height;
        cursor: text;

        .plat-input-container {
            .fill();
            .box-sizing(border-box);
            position: relative;

            input {
                .box-sizing(border-box);
                .border-radius(0px);
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                bottom: 0;
                padding: 0 @action-padding 0 0;
                background-color: @background-color;
                color: @text-color;
                outline: none;
                border: none;
                font: inherit;
                -webkit-appearance: none;

                &::-ms-clear,
                &::-ms-reveal {
                    display: none;
                }

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

    /// =========== Placeholder Styling =========== ///

                &::-webkit-input-placeholder {
                    color: @placeholder-color;
                }

                &::-moz-input-placeholder {
                    color: @placeholder-color;
                }

                &:-moz-input-placeholder {
                    color: @placeholder-color;
                }

                &:-ms-input-placeholder {
                    color: @placeholder-color;
                }
            }

    /// =============== Input Icon =============== ///

            .plat-input-action {
                .box-sizing(content-box);
                display: inline-block;
                position: absolute;
                right: 0;
                bottom: 0;
                width: @action-padding;
                height: @height;
                line-height: @height;
                text-align: right;
                color: @border-color-accent;

                .plat-action {
                    display: inline-block;
                    min-width: 20px;
                    cursor: pointer;
                }
            }

            input[disabled],
            input:disabled {
                & + .plat-input-action {
                    display: none;
                }
            }
        }

        &.input-no-action {
            .plat-input-container {
                .plat-input-action {
                    display: none;
                }
            }
        }

        &:not(.input-outline) {
            .plat-input-container {
                input {
                    border-bottom: @border-bottom;

                    &:focus {
                        border-bottom-color: @border-color-accent;
                    }
                }
            }
        }

    /// ============== Secondary Input =============== ///

        &.input-outline {
            .plat-input-container {
                input {
                    .border-radius(@outline-border-radius);
                    border: @outline-border;
                    padding-left: 0.5em;
                }

                .plat-input-action {
                    right: 6px;
                }
            }
        }

    /// ============== Input Types =============== ///

        &.input-primary {
            .plat-input-container {
                input:focus {
                    border-color: @primary-color;
                }

                .plat-input-action {
                    color: @primary-color;
                }
            }
        }

        &.input-secondary {
            .plat-input-container {
                input:focus {
                    border-color: @secondary-color;
                }

                .plat-input-action {
                    color: @secondary-color;
                }
            }
        }

        &.input-success {
            .plat-input-container {
                input:focus {
                    border-color: @success-color;
                }

                .plat-input-action {
                    color: @success-color;
                }
            }
        }

        &.input-caution {
            .plat-input-container {
                input:focus {
                    border-color: @caution-color;
                }

                .plat-input-action {
                    color: @caution-color;
                }
            }
        }

        &.input-danger {
            .plat-input-container {
                input:focus {
                    border-color: @danger-color;
                }

                .plat-input-action {
                    color: @danger-color;
                }
            }
        }
    }
}

/// =========== Input Group Declaration =========== ///

& {
    #platui > #__Input;

    .input-group {
        [class*="col-"] {
            padding: 0;
        }

        .plat-input {
            width: 100%;
            position: relative;
            margin-top: -3px;

            input {
                padding-left: 8px;
                padding-right: @action-padding + 0.5em;
            }

            .plat-input-action {
                right: 0.25em;
            }
        }
    }
}
