@import (reference) '../global/variables.less';

#platui {
    #Input {
        #dependencies {
            #platui > #variables;
            @border-color: @neutral-color;
            @primary-border-bottom-width: 2px;
            @secondary-border-width: 2px;
        }

        #platui > #Input > #dependencies;

    /// ============== Input Colors =============== ///

        @text-color: @text-grey;
        @action-color: @border-color;
        @placeholder-color: @neutral-color;

    /// =============== Input Sizes =============== ///

        @default-height: 2.5em;
        @default-width: 18em;
        @primary-border-bottom: @primary-border-bottom-width solid @border-color;
        @secondary-border: @secondary-border-width solid @border-color;
        @secondary-border-radius: 4px;
    }
}
