@import (reference) '../mixins/helpers.less';
@import (reference) 'input.variables.less';

/// ============= Input Constants ============= ///

#platui {
    #__Input {
        #platui > #variables;
        #platui > #Input;
        @border-color-accent: darken(@border-color, 25%);
        @action-padding: 2.5em;
    }
}

/// =========== Input Declaration =========== ///

& {
    #platui > #mixins;
    #platui > #__Input;

    .plat-input {
        .box-sizing(border-box);
        display: inline-block;
        width: @width;
        height: @height;
        cursor: text;

        .plat-input-container {
            .fill();
            .box-sizing(border-box);
            position: relative;

            input {
                .box-sizing(border-box);
                .border-radius(0px);
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                bottom: 0;
                padding: 0 @action-padding 0 0;
                background-color: @background-color;
                color: @text-color;
                outline: none;
                border: none;
                font: inherit;
                -webkit-appearance: none;

                &::-ms-clear,
                &::-ms-reveal {
                    display: none;
                }

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

    /// =========== Placeholder Styling =========== ///

                &::-webkit-input-placeholder {
                    color: @placeholder-color;
                }

                &::-moz-input-placeholder {
                    color: @placeholder-color;
                }

                &:-moz-input-placeholder {
                    color: @placeholder-color;
                }

                &:-ms-input-placeholder {
                    color: @placeholder-color;
                }
            }

    /// =============== Input Icon =============== ///

            .plat-input-action {
                .box-sizing(content-box);
                display: inline-block;
                position: absolute;
                right: 0;
                bottom: 0;
                width: @action-padding;
                height: @height;
                line-height: @height;
                text-align: right;
                color: @border-color-accent;

                .plat-action {
                    display: inline-block;
                    min-width: 20px;
                    cursor: pointer;
                }
            }

            input[disabled],
            input:disabled {
                & + .plat-input-action {
                    display: none;
                }
            }
        }

        &.input-no-action {
            .plat-input-container {
                .plat-input-action {
                    display: none;
                }
            }
        }

        &:not(.input-outline) {
            .plat-input-container {
                input {
                    border-bottom: @border-bottom;

                    &:focus {
                        border-bottom-color: @border-color-accent;
                    }
                }
            }
        }

    /// ============== Secondary Input =============== ///

        &.input-outline {
            .plat-input-container {
                input {
                    .border-radius(@outline-border-radius);
                    border: @outline-border;
                    padding-left: 0.5em;
                }

                .plat-input-action {
                    right: 6px;
                }
            }
        }

    /// ============== Input Types =============== ///

        &.input-primary {
            .plat-input-container {
                input:focus {
                    border-color: @primary-color;
                }

                .plat-input-action {
                    color: @primary-color;
                }
            }
        }

        &.input-secondary {
            .plat-input-container {
                input:focus {
                    border-color: @secondary-color;
                }

                .plat-input-action {
                    color: @secondary-color;
                }
            }
        }

        &.input-success {
            .plat-input-container {
                input:focus {
                    border-color: @success-color;
                }

                .plat-input-action {
                    color: @success-color;
                }
            }
        }

        &.input-caution {
            .plat-input-container {
                input:focus {
                    border-color: @caution-color;
                }

                .plat-input-action {
                    color: @caution-color;
                }
            }
        }

        &.input-danger {
            .plat-input-container {
                input:focus {
                    border-color: @danger-color;
                }

                .plat-input-action {
                    color: @danger-color;
                }
            }
        }
    }
}

/// =========== Input Group Declaration =========== ///

& {
    #platui > #__Input;

    .input-group {
        [class*="col-"] {
            padding: 0;
        }

        .plat-input {
            width: 100%;
            position: relative;
            margin-top: -3px;

            input {
                padding-left: 8px;
                padding-right: @action-padding + 0.5em;
            }

            .plat-input-action {
                right: 0.25em;
            }
        }
    }
}

/// =========== Variable Input Styles =========== ///

.plat-input(@prop: undefined; @value: undefined) {
    #platui > #mixins;

    & when (@prop = undefined), (@value = undefined) {
        &.plat-input {
            width: @width;
            height: @height;

            .plat-input-container {
                input {
                    background-color: @background-color;
                    color: @text-color;

        /// =========== Placeholder Styling =========== ///

                    &::-webkit-input-placeholder {
                        color: @placeholder-color;
                    }

                    &::-moz-input-placeholder {
                        color: @placeholder-color;
                    }

                    &:-moz-input-placeholder {
                        color: @placeholder-color;
                    }

                    &:-ms-input-placeholder {
                        color: @placeholder-color;
                    }
                }

        /// =============== Input Icon =============== ///

                .plat-input-action {
                    height: @height;
                    line-height: @height;
                    color: darken(@border-color, 25%);
                }
            }

            &:not(.input-outline) {
                .plat-input-container {
                    input {
                        border-bottom: @border-bottom;

                        &:focus {
                            border-color: darken(@border-color, 25%);
                        }
                    }
                }
            }

        /// ============== Secondary Input =============== ///

            &.input-outline {
                .plat-input-container {
                    input {
                        .border-radius(@outline-border-radius);
                        border: @outline-border;
                    }
                }
            }
        }
    }
    & when (@prop = border-color) {
        &.plat-input {
            .plat-input-container {
                .plat-input-action {
                    color: darken(@value, 25%);;
                }
            }

            &:not(.input-outline) {
                .plat-input-container {
                    input {
                        border-bottom-color: @value;

                        &:focus {
                            border-bottom-color: darken(@value, 25%);;
                        }
                    }
                }
            }

        /// ============== Secondary Input =============== ///

            &.input-outline {
                .plat-input-container {
                    input {
                        border-color: @value;
                    }
                }
            }
        }
    }
    & when (@prop = border-bottom-width) {
        &.plat-input {
            &:not(.input-outline) {
                .plat-input-container {
                    input {
                        border-bottom-width: @value;
                    }
                }
            }
        }
    }
    & when (@prop = border-bottom) {
        &.plat-input {
            &:not(.input-outline) {
                .plat-input-container {
                    input {
                        border-bottom: @value;
                    }
                }
            }
        }
    }
    & when (@prop = outline-border-width) {
        &.plat-input {
            &.input-outline {
                .plat-input-container {
                    input {
                        border-width: @value;
                    }
                }
            }
        }
    }
    & when (@prop = outline-border) {
        &.plat-input {
            &.input-outline {
                .plat-input-container {
                    input {
                        border: @value;
                    }
                }
            }
        }
    }
    & when (@prop = outline-border-radius) {
        &.plat-input {
            &.input-outline {
                .plat-input-container {
                    input {
                        .border-radius(@value);
                    }
                }
            }
        }
    }
    & when (@prop = text-color) {
        &.plat-input {
            .plat-input-container {
                input {
                    color: @value;
                }
            }
        }
    }
    & when (@prop = background-color) {
        &.plat-input {
            .plat-input-container {
                input {
                    background-color: @value;
                }
            }
        }
    }
    & when (@prop = placeholder-color) {
        &.plat-input {
            .plat-input-container {
                input {
        /// =========== Placeholder Styling =========== ///

                    &::-webkit-input-placeholder {
                        color: @value;
                    }

                    &::-moz-input-placeholder {
                        color: @value;
                    }

                    &:-moz-input-placeholder {
                        color: @value;
                    }

                    &:-ms-input-placeholder {
                        color: @value;
                    }
                }
            }
        }
    }
    & when (@prop = height) {
        &.plat-input {
            height: @value;

            .plat-input-container {
                .plat-input-action {
                    height: @value;
                    line-height: @value;
                }
            }
        }
    }
    & when (@prop = width) {
        &.plat-input {
            width: @value;
        }
    }
}
