@import (reference) '../global/variables.less';
@import (reference) '../animations/animations.variables.less';

#platui {
    #Listview {
        #dependencies {
            @enter-animation-name: LISTVIEW_ITEM_ENTER;
            @enter-animation-duration: 300ms;
            @leave-animation-name: LISTVIEW_ITEM_LEAVE;
            @leave-animation-duration: 300ms;
        }

        #platui > #variables;
        #platui > #Listview > #dependencies;

    /// =========== Listview Colors =========== ///

        @manipulated-viewport-background-color: @white;

    /// =========== Listview Animations =========== ///

        @refresh-transition-time: 200ms;

        @enter-init: {
            opacity: 0;
        };

        @enter-animation: @enter-animation-name @enter-animation-duration;
        @leave-animation: @leave-animation-name @leave-animation-duration;

    /// =========== Listview Animation Mixins =========== ///

        .enter(@name) {
            #platui > #animations > .keyframes(@name);
            .frames(@prefix) {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }

        .leave(@name) {
            #platui > #animations > .keyframes(@name);
            .frames(@prefix) {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
        }

    /// =========== Variable Listview Styles =========== ///

        .plat-listview(@prop: undefined; @value: undefined) {
            #platui > #mixins;

            & when (@prop = undefined), (value = undefined) {
                &.plat-listview {
                    .plat-listview-viewport {
                        &.plat-manipulation-prep {
                            background-color: @manipulated-viewport-background-color;
                        }

                        &.plat-transition-init {
                            .transition-duration(@refresh-transition-time);
                        }
                    }

                    &.plat-animated {
                        .plat-listview-viewport {
                            .plat-scroll-container {
                                .plat-container {
                                    .plat-enter-init {
                                        @enter-init();
                                    }

                                    .plat-enter {
                                        .animation(@enter-animation);
                                    }

                                    .plat-leave {
                                        .animation(@leave-animation);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = enter-animation-name) {
                &.plat-listview {
                    &.plat-animated {
                        .plat-listview-viewport {
                            .plat-scroll-container {
                                .plat-container {
                                    .plat-enter {
                                        .animation-name(@value);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = enter-animation-duration) {
                &.plat-listview {
                    &.plat-animated {
                        .plat-listview-viewport {
                            .plat-scroll-container {
                                .plat-container {
                                    .plat-enter {
                                        .animation-duration(@value);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = leave-animation-name) {
                &.plat-listview {
                    &.plat-animated {
                        .plat-listview-viewport {
                            .plat-scroll-container {
                                .plat-container {
                                    .plat-leave {
                                        .animation-name(@value);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = leave-animation-duration) {
                &.plat-listview {
                    &.plat-animated {
                        .plat-listview-viewport {
                            .plat-scroll-container {
                                .plat-container {
                                    .plat-leave {
                                        .animation-duration(@value);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = manipulated-viewport-background-color) {
                &.plat-listview {
                    .plat-listview-viewport {
                        &.plat-manipulation-prep {
                            background-color: @value;
                        }
                    }
                }
            }
            & when (@prop = refresh-transition-time) {
                &.plat-listview {
                    .plat-listview-viewport {
                        &.plat-transition-init {
                            .transition-duration(@value);
                        }
                    }
                }
            }
            & when (@prop = enter-init) {
                &.plat-listview {
                    &.plat-animated {
                        .plat-listview-viewport {
                            .plat-scroll-container {
                                .plat-container {
                                    .plat-enter-init {
                                        @value();
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = enter-animation) {
                &.plat-listview {
                    &.plat-animated {
                        .plat-listview-viewport {
                            .plat-scroll-container {
                                .plat-container {
                                    .plat-enter {
                                        .animation(@value);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & when (@prop = leave-animation) {
                &.plat-listview {
                    &.plat-animated {
                        .plat-listview-viewport {
                            .plat-scroll-container {
                                .plat-container {
                                    .plat-leave {
                                        .animation(@value);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
