@import (reference) '../global/variables.less';
@import (reference) '../animations/animations.variables.less';

#platui {
    #Listview {
        #dependencies {
            @enter-animation-name: LISTVIEW_ITEM_ENTER;
            @enter-animation-duration: 300ms;
            @leave-animation-name: LISTVIEW_ITEM_LEAVE;
            @leave-animation-duration: 300ms;
        }

        #platui > #variables;
        #platui > #Listview > #dependencies;

    /// =========== Listview Colors =========== ///

        @manipulated-viewport-background-color: @white;

    /// =========== Listview Properties =========== ///

        @horizontal-scroll-padding: 15px;

    /// =========== Listview Animations =========== ///

        @refresh-transition-time: 200ms;

        @enter-init: {
          opacity: 0;
        };

        @enter-animation: @enter-animation-name @enter-animation-duration;
        @leave-animation: @leave-animation-name @leave-animation-duration;

    /// =========== Listview Animation Mixins =========== ///

        .enter(@name) {
            #platui > #animations > .keyframes(@name);
            .frames(@prefix) {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }

        .leave(@name) {
            #platui > #animations > .keyframes(@name);
            .frames(@prefix) {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
        }
    }
}
