/**/
@import (reference) '../global/variables.less';

#platui {
    #Slider {
    /// ================= Slider Size ================== ///    

        @thickness: 0.5em;
        @fill-border-radius: 4px;

    /// ================= Slider Knob Properties ================== ///    
    
        @knob-diameter: 1.6em;
        @knob-border-size: 1px;

    /// ============== Slider Transitions =============== ///    

        @horizontal-transition: width 300ms;
        @vertical-transition: height 300ms;
    }
}