@import '../global/variables.less';

#Slider {

/// ================ Colors ================= ///    

    @background-color: @neutralColorLight;
    @fill-color: darken(@neutralColorDark, 7%);

/// ================= Size ================== ///    

    @thickness: 8px;
    @fill-border-radius: 4px;

/// ================= Knob ================== ///    

    @knob-primary-color: lighten(@paleGrey, 10%);
    @knob-secondary-color: @white;
    @knob-diameter: 1.6em;
    @knob-primary-border-color: darken(@paleGrey, 5%);
    @knob-secondary-border-color: @fill-color;
    @knob-border-size: 1px;

/// ============== Animations =============== ///    

    @horizontal-transition: width 300ms;
    @vertical-transition: height 300ms;
}